<li class="treeview">
										<a href="/admin/controle-frequencia-audi/4">
								   			<i class="fa fa-link"></i> 
								   			Controle de Frequência 2023
								   		</a>

									   		<ul class="treeview-menu">
	            								<li class="treeview">
													<a href="/admin/controle-frequencia-locais-audi/4">
									   					<i class="fa fa-link"></i> 
									   					Por Locais
									   				</a>								   		
												</li>
												<li class="treeview">
													<a href="/admin/controle-frequencia-modalidades-audi/4">
											   			<i class="fa fa-link"></i> 
											   			Por modalidades
											   		</a>										   		
												</li>
			          						</ul>								   		
									</li><li class="treeview">
										<a href="/admin/controle-frequencia-audi/83">
								   			<i class="fa fa-link"></i> 
								   			Controle de Frequência 2021
								   		</a>

									   		<ul class="treeview-menu">
	            								<li class="treeview">
													<a href="/admin/controle-frequencia-locais-audi/83">
									   					<i class="fa fa-link"></i> 
									   					Por Locais
									   				</a>								   		
												</li>
												<li class="treeview">
													<a href="/admin/controle-frequencia-modalidades-audi/83">
											   			<i class="fa fa-link"></i> 
											   			Por modalidades
											   		</a>										   		
												</li>
			          						</ul>								   		
									</li><li class="treeview">
										<a href="/admin/controle-frequencia-audi/84">
								   			<i class="fa fa-link"></i> 
								   			Controle de Frequência 2018
								   		</a>

									   		<ul class="treeview-menu">
	            								<li class="treeview">
													<a href="/admin/controle-frequencia-locais-audi/84">
									   					<i class="fa fa-link"></i> 
									   					Por Locais
									   				</a>								   		
												</li>
												<li class="treeview">
													<a href="/admin/controle-frequencia-modalidades-audi/84">
											   			<i class="fa fa-link"></i> 
											   			Por modalidades
											   		</a>										   		
												</li>
			          						</ul>								   		
									</li>