<style>
@media print {
    .header-area,
    .site-branding-area,
    .sticky-wrapper,
    .footer-top-area,
    .footer-bottom-area,
    .single-product-area .col-md-3,
    .button.alt,
    .product-big-title-area {
        display:none!important;
    }
    .single-product-area .col-md-9 {
        width: 100%!important;
    }
}
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/admin/insc">Inscrições</a></li>
    <!--<li class="active"><a href="/admin/espaco/create">Cadastrar</a></li>-->
  </ol>
</section>

<section class="content">


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Consulta inscrições para {$pessoa.nomepess} - {function="calcularIdade($pessoa.dtnasc)"} anos </h3>
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row">                
            
            <div class="col-md-12">

               
                
             
                <div id="" style="position: relative;">
                     {loop="$insc"}                           
                    <table class="">
                        <thead>                           
                            <tr>
                                <th colspan="2" ><h3>INCRIÇÃO Nº: {$value.idinsc} <br>Número para concorrer no sorteio: &nbsp;&nbsp;&nbsp;{$value.numsorte}</h3></th>
                            </tr>
                            <tr>
                                <th class="product-name">Turma / Temporada</th>
                                <td class="product-name">{$value.descturma} ({$value.periodo}) - {$value.desctemporada} </td>
                            </tr>
                            <tr>
                                <th class="product-name">Horário / Professor</th>
                                <td class="product-name">{$value.diasemana} das {$value.horainicio} às {$value.horatermino} - Prof. {$value.desperson}</td>
                            </tr>
                            <tr>
                                <th class="product-name">Local da aula (CREC)</th>
                                <td class="product-name">{$value.descespaco} - ({$value.apelidolocal}) </td>
                            </tr>
                            <tr>
                                <th class="product-name">Data da Inscrição</th>
                                <td class="product-name">{function="formatDateHour($value.dtinsc)"}</td>
                            </tr> 
                             <tr>
                                <th class="product-name">Laudo</th>
                                <td class="product-name">{if="$value.laudo == 1"}Sim{/if}Não</td>
                            </tr>                                                       
                            <tr>
                                <th class="product-name">Status da Inscrição</th>
                                <td class="product-name">{$value.descstatus}</td>
                            </tr>
                            <tr>
                                <th class="product-name">Respons. p/ inscrição</th>
                                <td class="product-name">&nbsp;&nbsp;{$value.desperson}</td>
                            </tr>                                        

                        </thead>
                        <tbody>
                            
                               
                        </tbody>
                        <tfoot>
                            
                        </tfoot>
                    </table>

                    {else}

                    <div class="product-big-title-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Não localizamos inscrições para o(a) {$pessoa.nomepess} CPF: {$pessoa.numcpf} </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    {/loop}
                    
                </div>

                    <div id="payment">
                        <div class="form-row place-order">
                            <input type="submit" value="Imprimir" class="button alt" onclick="window.print()">
                        </div>
                        <div class="clear"></div>
                    </div>              

            </div>
        </div>
    </div>

</section>