<script type="text/javascript">

      function VerificaInscricaoModalidade(nomepess){

        let nome = nomepess;

        let checkbox = document.getElementById("checkbox");
        const isChecked = checkbox.checked;
        if (isChecked) {
          alert('Existem uma ou mais inscrições válidas para o(a) '+nome+' nesta modalidade em outro Centro Esportivo. Clique em "Todas inscrições de '+nomepess+'" para ver mais detalhes.')
        } 
      }   

</script>

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h5>
     Selecione a inscrição, da qual você queira remover da temporada {$desctemporada} e clique em excluir.<br>
     
  </h5>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a style="color: red" href="javascript: history.go(-1)">Voltar</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

          {if="$error != ''"}
                <div class="alert alert-danger" style="margin: 10px 10px 0px 10px">
            {$error}
                </div>
          {/if}
          
            
            <div class="box-header">
           
            </div> 
           
      
          
           <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">

          {loop="$insc"}
            {if="($value.idinscstatus != 8) AND ($value.idinscstatus != 9)"}
            <div class="box-body" style=" margin: 5px;">
              <div {function="colorStatus($value.idinscstatus)"} style="margin: 5px" class="row">
              
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">

                     
                      

                      

                      <span style="font-weight: bold;">Insc.: {$value.idinsc} - </span>
                      
                      ({$value.idcart}) -

                      <span style="font-weight: bold;">Data insc.: {function="formatDate($value.dtinsc)"}</span>
                      

                      <br>
                      <span style="font-weight: bold;">  Turma: <span style="color: orange;"> [{$value.idturma}] </span> {$value.descturma}  </span>
                       - {$value.apelidolocal}  
                      <br>
                      
                     

                      <span style="font-weight: bold; text-align: left; color: darkblue;">  
                        {if="$value.inscpcd == 1"} PCD &nbsp;&nbsp;{/if}  
                      </span>        

                      <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                        {if="$value.laudo == 1"}LAUDO  &nbsp;&nbsp;{/if}
                       </span>
                   

                    {if="$value.idinscstatus == 1"}              
                    <span style="font-weight: bold; text-align: left; color: blue;">                  
                      <span>{$value.descstatus}</span>
                    </span>             
                    {/if}

                  
              
                    {if="$value.idinscstatus == 2"}
              
                    <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                      <span>{$value.descstatus}</span>
                    </span>
             
                    {/if}
               

                      {if="$value.idinscstatus == 3"}
                      
                        <span style="font-weight: bold; text-align: left; color: green;">                  
                          <span>*{$value.descstatus}*</span>
                        </span>
                      
                      {/if}

                      {if="$value.idinscstatus == 6"}
                        <span style="font-weight: bold; text-align: left; color: darkorange;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}


                      {if="$value.idinscstatus == 7"}
                        <span style="font-weight: bold; text-align: left; color: darkblue;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}

                      
                      {if="$value.idinscstatus == 8"}
                        <span style="font-weight: bold; text-align: left; color: orange;">                  
                          Status: <span>{$value.descstatus}</span>
                        </span>
                      {/if}
                      
                      {if="$value.idinscstatus == 9"}
                      
                        <span style="font-weight: bold; text-align: left; color: red;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      
                      {/if} 

                      
                       </h5>
                      <a href="/admin/insc/delete/{$value.idinsc}/{$value.idturma}/{$idtemporada}/{$value.idcart}" class="btn-sm btn-danger">Excluir</a> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          {/if}

          {else}

          <div class="box-body" style=" margin: 5px;">
            <span style="color: darkgreen; font-weight: bold;"> NÃO HÁ INSCRIÇÕES VAZIAS </span>
          </div>
           
          {/loop}
          
          
          
          </div>     
         
            <!-- /.box-body -->

            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>

          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->



