

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
     {$turma.idturma} - {$turma.descturma} {$turma.diasemana}  {$turma.periodo} {$turma.apelidolocal} -   {$temporada.desctemporada} - {$turma.vagas}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/admin/turma-temporada/{$temporada.idtemporada}">Turmas por temporada</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            
            <div class="box-header">
           
            </div>
          <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
              
            {loop="$insc"}
            <div class="box-body" style=" margin: 5px;">
              <div {function="colorStatus($value.idinscstatus)"} style="margin: 5px" class="row">

              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  Nome: {$value.nomepess}
                </h5>
              </div>

              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  CPF.: {$value.numcpf}
                </h5>
              </div> 

              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  Data do Nasc.: {function="formatDate($value.dtnasc)"}
                </h5>
              </div>

              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  Idade: {function="calcularIdade($value.dtnasc)"} anos
                </h5>
              </div>

              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  Responsável: {$value.desperson}
                </h5>
              </div>

               <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  Fone: {$value.nrphone}
                </h5>
              </div>

               <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  Data Inscr.: {function="formatDate($value.dtinsc)"}
                </h5>
              </div>
              
              {if="$value.idinscstatus == 1"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left; color: blue;">                  
                  <span>{$value.descstatus}</span>
                </h5>
              </div>
              {/if}
              
              {if="$value.idinscstatus == 2"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left; color: darkgreen;">                  
                  <span>{$value.descstatus}</span>
                </h5>
              </div>
              {/if}
              {if="$value.idinscstatus == 6"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left; color: darkorange;">                  
                  <span>{$value.descstatus}</span>
                </h5>
              </div>
              {/if}
              {if="$value.idinscstatus == 7"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left; color: darkblue;">                  
                  <span>{$value.descstatus}</span>
                </h5>
              </div>
              {/if}
              {if="$value.idinscstatus == 8"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left; color: orange;">                  
                  Status: <span>{$value.descstatus}</span>
                </h5>
              </div>
              {/if}
              {if="$value.idinscstatus == 9"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left; color: red;">                  
                  <span>{$value.descstatus}</span>
                </h5>
              </div>
              {/if}            


              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  {if="$value.laudo == 1"}c/ laudo{/if} - {$value.idinsc}
                </h5>
              </div>

              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/admin/profile/insc/{$value.idinsc}/{$value.idpess}" role="button">Detalhes</a>
                </h5>
              </div>

              

              {if="$value.idinscstatus == 2"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <div>
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/insc/{$value.idinsc}/{$iduserprof.iduser}/{$turma.idturma}/statusMatriculada" onclick="return confirm('Deseja realmente efetuar a MATRÍCULA do(a) {$value.nomepess} na turma {$turma.descturma} da temporada {$temporada.desctemporada} ?')" class="btn btn-success btn-xs"><i></i> Matricular</a>
                </h5>
                </div>
              
              <div>

                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/insc/{$value.idinsc}/{$iduserprof.iduser}/{$turma.idturma}/statusDesistente" onclick="return confirm('Deseja realmente marcar como DESISTENTE o(a) {$value.nomepess} da turma {$turma.descturma} na temporada {$temporada.desctemporada} ? ')" class="btn btn-primary btn-xs"><i></i> Desistente</a>
                </h5>
              </div>
              </div>
              {/if}

              {if="$value.idinscstatus == 1"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/insc/{$value.idinsc}/{$iduserprof.iduser}/{$turma.idturma}/statusDesistente" onclick="return confirm('Deseja realmente marcar como DESISTENTE o(a) {$value.nomepess} da turma {$turma.descturma} na temporada {$temporada.desctemporada} ? ')" class="btn btn-primary btn-xs"><i></i> Desistente</a>
                </h5>
              </div>
              {/if}

              
              {if="$value.idinscstatus == 7"}
              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/insc/{$value.idinsc}/{$iduserprof.iduser}/{$turma.idturma}/statusAguardandoMatricula" onclick="return confirm('Deseja realmente que o(a) {$value.nomepess} fique aguardando matrícula na turma de {$turma.descturma} da temporada {$temporada.desctemporada} ?')" class="btn btn-info btn-xs"><i></i> Aguardar matrícula</a>
                </h5>
              </div>

              {/if}
                                                                                                          

            </div>
          </div>
          {/loop}

          </div>           
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>

          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->



