<script type="text/javascript">

      function requisitarPaginaEndereco(url){

        let ajax = new XMLHttpRequest();
        let idurl = url.substr(53);              
        ajax.open('GET', 'url');
        
        $.ajax({
          url: url,
          method: 'GET'  
        }).done(function(result){

          if(result){              
                alert(result)
          }else{
            alert('Endereço não encontrado!')
          }
        });
      }   

</script>


<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
     [{$turma.idturma}]  {$turma.descturma} {$turma.diasemana}  {$turma.periodo} {$turma.apelidolocal} -   {$temporada.desctemporada}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

          {if="$error != ''"}
                <div class="alert alert-danger" style="margin: 10px 10px 0px 10px">
            {$error}
                </div>
          {/if}
          {if="$success != ''"}
                <div class="alert alert-success" style="margin: 10px 10px 0px 10px">
            {$success}
                </div>
          {/if}
            
            <div class="box-header">
           
            </div>
          <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
            <div class="box-body" style="text-align: center;">
                <span style="color: orangered; font-weight: bold">PVS - Lista de pessoas em vulnerabilidade social - {$turma.vagaspvs} vagas
                </span>
          </div>
              
            {loop="$inscPvs"}
             {if="($value.idinscstatus != 8) && ($value.idinscstatus != 9)"}
            <div class="box-body" style=" margin: 5px;">
              <div {function="colorStatus($value.idinscstatus)"} style="margin: 5px" class="row">
              
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">
                      {$value.numordem}º -
                      <strong>[{$value.idinsc}] - {$value.nomepess}</strong>
                      {if="UserIsAdmin()"}
                      &nbsp;{$value.numcpf}&nbsp;
                      {else}
                      &nbsp;{function="formatCpf($value.numcpf)"}&nbsp;
                      {/if}                      
                      <strong>{function="calcularIdade($value.dtnasc)"} anos</strong>
                      &nbsp;Nascim.: {function="formatDate($value.dtnasc)"}&nbsp;
                    </h5>
                  </div>

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">               
                       <strong>Resp: </strong>{$value.desperson}
                       &nbsp;
                       <a href="https://wa.me/+55{$value.nrphone}?text=Olá {$value.desperson}!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do aluno ou responsável. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: darkgreen; font-weight: bold;"></i><span style="color: black;"> {$value.nrphone}&nbsp;</span></a>
                       
                       &nbsp;&nbsp;&nbsp;&nbsp;

                       <a style="font-weight: bold;" onclick="requisitarPaginaEndereco('/prof/insc-turma-temporada-endereco/{$value.idpess}')"><i class="fas fa-map-marker-alt"></i> Endereço </a>         

                        &nbsp;&nbsp;&nbsp;&nbsp;
                       
                       &nbsp; <strong>Contato: </strong>{$value.contato}&nbsp;
                      <strong>Dt Insc.: </strong>{function="formatDate($value.dtinsc)"}
                      &nbsp;<strong>Dt Matric.: </strong>{function="formatDate($value.dtmatric)"}&nbsp;
                    </h5>
                  </div>                   
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">                  

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">  

                      <span style="font-weight: bold; text-align: left; color: brown;">                  
                        {if="$value.vulnsocial == 1"} (Vuln. Social) &nbsp;&nbsp;{/if}
                      </span> 
                      
                      <span style="font-weight: bold; text-align: left; color: darkblue;">  
                        {if="$value.inscpcd == 1"} PCD &nbsp;&nbsp;{/if}  
                      </span> 

                      <span style="font-weight: bold; text-align: left; color: darkgreen; font-weight: bold;">                  
                        {if="$value.laudo == 1"}LAUDO  &nbsp;&nbsp;{/if}
                       </span>
                   
                  

                    {if="$value.idinscstatus == 1"}              
                    <span style="font-weight: bold; text-align: left; color: blue;">                  
                      <span>{$value.descstatus}</span>
                    </span>             
                    {/if}

                  
              
                    {if="$value.idinscstatus == 2"}
              
                    <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                      <span>{$value.descstatus}</span>
                    </span>
             
                    {/if}
               

                      {if="$value.idinscstatus == 3"}
                      
                        <span style="font-weight: bold; text-align: left; color: green;">                  
                          <span>*{$value.descstatus}*</span>
                        </span>
                      
                      {/if}

                      {if="$value.idinscstatus == 6"}
                        <span style="font-weight: bold; text-align: left; color: darkorange;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}


                      {if="$value.idinscstatus == 7"}
                        <span style="font-weight: bold; text-align: left; color: darkblue;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}

                      
                      {if="$value.idinscstatus == 8"}
                        <span style="font-weight: bold; text-align: left; color: orange;">                  
                          Status: <span>{$value.descstatus}</span>
                        </span>
                      {/if}
                      
                      {if="$value.idinscstatus == 9"}
                      
                        <span style="font-weight: bold; text-align: left; color: red;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      
                      {/if} 
                       </h5>               
                    </div>


              <div class="col-md-2" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/admin/profile/insc-audi/{$value.idinsc}/{$value.idpess}/{$turma.idturma}" role="button">Detalhes</a>
                </h5>
              </div> 


              
              

              

                </div>
              </div>
              
            </div>
          </div>
          
          {/if}
           
          {/loop}
          </div>  

          <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
            <div class="box-body" style="text-align: center;">
                <span style="color: orangered; font-weight: bold">PCD - Lista de pessoas com deficiência - {$turma.vagaspcd} vagas
                </span>
          </div>
              
            {loop="$inscPcd"}
             {if="($value.idinscstatus != 8) && ($value.idinscstatus != 9)"}
            <div class="box-body" style=" margin: 5px;">
              <div {function="colorStatus($value.idinscstatus)"} style="margin: 5px" class="row">
              
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">
                      {$value.numordem}º -
                      <strong>[{$value.idinsc}] - {$value.nomepess}</strong>
                      {if="UserIsAdmin()"}
                      &nbsp;{$value.numcpf}&nbsp;
                      {else}
                      &nbsp;{function="formatCpf($value.numcpf)"}&nbsp;
                      {/if}                      
                      <strong>{function="calcularIdade($value.dtnasc)"} anos</strong>
                      &nbsp;Nascim.: {function="formatDate($value.dtnasc)"}&nbsp;
                    </h5>
                  </div>

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">               
                       <strong>Resp: </strong>{$value.desperson}
                       &nbsp;
                       <a href="https://wa.me/+55{$value.nrphone}?text=Olá {$value.desperson}!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do aluno ou responsável. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: darkgreen; font-weight: bold;"></i><span style="color: black;"> {$value.nrphone}&nbsp;</span></a>
                       
                       &nbsp;&nbsp;&nbsp;&nbsp;

                       <a style="font-weight: bold;" onclick="requisitarPaginaEndereco('/prof/insc-turma-temporada-endereco/{$value.idpess}')"><i class="fas fa-map-marker-alt"></i> Endereço </a>         

                        &nbsp;&nbsp;&nbsp;&nbsp;
                       
                      <strong>Dt Insc.: </strong>{function="formatDate($value.dtinsc)"}
                      &nbsp;<strong>Dt Matric.: </strong>{function="formatDate($value.dtmatric)"}&nbsp;
                    </h5>
                  </div>                   
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">                  

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">  

                      <span style="font-weight: bold; text-align: left; color: brown;">                  
                        {if="$value.vulnsocial == 1"} (Vuln. Social) &nbsp;&nbsp;{/if}
                      </span>               
                      
                      <span style="font-weight: bold; text-align: left; color: darkblue;">  
                        {if="$value.inscpcd == 1"} PCD &nbsp;&nbsp;{/if}  
                      </span>                            
                    
                      
                      <span style="font-weight: bold; text-align: left; color: darkgreen; font-weight: bold;">                  
                        {if="$value.laudo == 1"}LAUDO  &nbsp;&nbsp;{/if}
                       </span>
                   
                  

                    {if="$value.idinscstatus == 1"}              
                    <span style="font-weight: bold; text-align: left; color: blue;">                  
                      <span>{$value.descstatus}</span>
                    </span>             
                    {/if}

                  
              
                    {if="$value.idinscstatus == 2"}
              
                    <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                      <span>{$value.descstatus}</span>
                    </span>
             
                    {/if}
               

                      {if="$value.idinscstatus == 3"}
                      
                        <span style="font-weight: bold; text-align: left; color: green;">                  
                          <span>*{$value.descstatus}*</span>
                        </span>
                      
                      {/if}

                      {if="$value.idinscstatus == 6"}
                        <span style="font-weight: bold; text-align: left; color: darkorange;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}


                      {if="$value.idinscstatus == 7"}
                        <span style="font-weight: bold; text-align: left; color: darkblue;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}

                      
                      {if="$value.idinscstatus == 8"}
                        <span style="font-weight: bold; text-align: left; color: orange;">                  
                          Status: <span>{$value.descstatus}</span>
                        </span>
                      {/if}
                      
                      {if="$value.idinscstatus == 9"}
                      
                        <span style="font-weight: bold; text-align: left; color: red;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      
                      {/if} 
                       </h5>               
                    </div>


              <div class="col-md-2" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/admin/profile/insc-audi/{$value.idinsc}/{$value.idpess}/{$turma.idturma}" role="button">Detalhes</a>
                </h5>
              </div>    

               
                </div>
              </div>
              
            </div>
          </div>
          
          {/if}
           
          {/loop}
          </div>    
  


          <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
            <div class="box-body" style="text-align: center;">
              <span style="color: orangered; font-weight: bold">PLM - Lista de pessoas com laudo - {$turma.vagaslaudo} vagas
              </span>
            </div>
              
            {loop="$inscPlm"}
             {if="($value.idinscstatus != 8) && ($value.idinscstatus != 9)"}
            <div class="box-body" style=" margin: 5px;">
              <div {function="colorStatus($value.idinscstatus)"} style="margin: 5px" class="row">
              
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">
                      {$value.numordem}º -
                      <strong>[{$value.idinsc}] - {$value.nomepess}</strong>
                      {if="UserIsAdmin()"}
                      &nbsp;{$value.numcpf}&nbsp;
                      {else}
                      &nbsp;{function="formatCpf($value.numcpf)"}&nbsp;
                      {/if}                      
                      <strong>{function="calcularIdade($value.dtnasc)"} anos</strong>
                      &nbsp;Nascim.: {function="formatDate($value.dtnasc)"}&nbsp;
                    </h5>
                  </div>

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">               
                       <strong>Resp: </strong>{$value.desperson}
                        &nbsp;
                       <a href="https://wa.me/+55{$value.nrphone}?text=Olá {$value.desperson}!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do aluno ou responsável. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: darkgreen; font-weight: bold;"></i><span style="color: black;"> {$value.nrphone}&nbsp;</span></a>
                       
                       &nbsp;&nbsp;&nbsp;&nbsp;

                       <a style="font-weight: bold;" onclick="requisitarPaginaEndereco('/prof/insc-turma-temporada-endereco/{$value.idpess}')"><i class="fas fa-map-marker-alt"></i> Endereço </a>         

                        &nbsp;&nbsp;&nbsp;&nbsp;
                      
                      <strong>Dt Insc.: </strong>{function="formatDate($value.dtinsc)"}
                      &nbsp;<strong>Dt Matric.: </strong>{function="formatDate($value.dtmatric)"}&nbsp;
                    </h5>
                  </div>                   
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">                  

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">  

                      <span style="font-weight: bold; text-align: left; color: brown;">                  
                        {if="$value.vulnsocial == 1"} (Vuln. Social) &nbsp;&nbsp;{/if}
                      </span>               
                      
                      <span style="font-weight: bold; text-align: left; color: darkblue;">  
                        {if="$value.inscpcd == 1"} PCD &nbsp;&nbsp;{/if}  
                      </span>                            
                    
                      
                      <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                        {if="$value.laudo == 1"}LAUDO  &nbsp;&nbsp;{/if}
                       </span>
                   
                  

                    {if="$value.idinscstatus == 1"}              
                    <span style="font-weight: bold; text-align: left; color: blue;">                  
                      <span>{$value.descstatus}</span>
                    </span>             
                    {/if}

                  
              
                    {if="$value.idinscstatus == 2"}
              
                    <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                      <span>{$value.descstatus}</span>
                    </span>
             
                    {/if}
               

                      {if="$value.idinscstatus == 3"}
                      
                        <span style="font-weight: bold; text-align: left; color: green;">                  
                          <span>*{$value.descstatus}*</span>
                        </span>
                      
                      {/if}

                      {if="$value.idinscstatus == 6"}
                        <span style="font-weight: bold; text-align: left; color: darkorange;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}


                      {if="$value.idinscstatus == 7"}
                        <span style="font-weight: bold; text-align: left; color: darkblue;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}

                      
                      {if="$value.idinscstatus == 8"}
                        <span style="font-weight: bold; text-align: left; color: orange;">                  
                          Status: <span>{$value.descstatus}</span>
                        </span>
                      {/if}
                      
                      {if="$value.idinscstatus == 9"}
                      
                        <span style="font-weight: bold; text-align: left; color: red;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      
                      {/if} 
                       </h5>               
                    </div>


              <div class="col-md-2" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/admin/profile/insc-audi/{$value.idinsc}/{$value.idpess}/{$turma.idturma}" role="button">Detalhes</a>
                </h5>
              </div>       

              
                </div>
              </div>
              
            </div>
          </div>
          {/if}
           
          {/loop}
          </div>  

          <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
            <div class="box-body" style="text-align: center;">
              <span style="color: orangered; font-weight: bold">Lista GERAL de pessoas - {$turma.vagas} vagas
              </span>
            </div>
              
            {loop="$insc"}
             {if="($value.idinscstatus != 8) && ($value.idinscstatus != 9)"}
            <div class="box-body" style=" margin: 5px;">
              <div {function="colorStatus($value.idinscstatus)"} style="margin: 5px" class="row">
              
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">
                      {$value.numordem}º -
                      <strong>[{$value.idinsc}] - {$value.nomepess}</strong>
                      {if="UserIsAdmin()"}
                      &nbsp;{$value.numcpf}&nbsp;
                      {else}
                      &nbsp;{function="formatCpf($value.numcpf)"}&nbsp;
                      {/if}                      
                      <strong>{function="calcularIdade($value.dtnasc)"} anos</strong>
                      &nbsp;Nascim.: {function="formatDate($value.dtnasc)"}&nbsp;
                    </h5>
                  </div>

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">               
                       <strong>Resp: </strong>{$value.desperson}
                       &nbsp;
                       <a href="https://wa.me/+55{$value.nrphone}?text=Olá {$value.desperson}!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do aluno ou responsável. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: darkgreen; font-weight: bold;"></i><span style="color: black;"> {$value.nrphone}&nbsp;</span></a>
                       
                       &nbsp;&nbsp;&nbsp;&nbsp;

                       <a style="font-weight: bold;" onclick="requisitarPaginaEndereco('/prof/insc-turma-temporada-endereco/{$value.idpess}')"><i class="fas fa-map-marker-alt"></i> Endereço </a>         

                        &nbsp;&nbsp;&nbsp;&nbsp;
                        
                      <strong>Dt Insc.: </strong>{function="formatDate($value.dtinsc)"}
                      &nbsp;<strong>Dt Matric.: </strong>{function="formatDate($value.dtmatric)"}&nbsp;
                    </h5>
                  </div>                   
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">                  

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;"> 

                      <span style="font-weight: bold; text-align: left; color: brown;">                  
                        {if="$value.vulnsocial == 1"} (Vuln. Social) &nbsp;&nbsp;{/if}
                      </span>                
                      
                      <span style="font-weight: bold; text-align: left; color: darkblue;">  
                        {if="$value.inscpcd == 1"} PCD &nbsp;&nbsp;{/if}  
                      </span>        
                      
                      <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                        {if="$value.laudo == 1"}LAUDO  &nbsp;&nbsp;{/if}
                       </span>
                   
                  

                    {if="$value.idinscstatus == 1"}              
                    <span style="font-weight: bold; text-align: left; color: blue;">                  
                      <span>{$value.descstatus}</span>
                    </span>             
                    {/if}

                  
              
                    {if="$value.idinscstatus == 2"}
              
                    <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                      <span>{$value.descstatus}</span>
                    </span>
             
                    {/if}
               

                      {if="$value.idinscstatus == 3"}
                      
                        <span style="font-weight: bold; text-align: left; color: green;">                  
                          <span>*{$value.descstatus}*</span>
                        </span>
                      
                      {/if}

                      {if="$value.idinscstatus == 6"}
                        <span style="font-weight: bold; text-align: left; color: darkorange;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}


                      {if="$value.idinscstatus == 7"}
                        <span style="font-weight: bold; text-align: left; color: darkblue;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}

                      
                      {if="$value.idinscstatus == 8"}
                        <span style="font-weight: bold; text-align: left; color: orange;">                  
                          Status: <span>{$value.descstatus}</span>
                        </span>
                      {/if}
                      
                      {if="$value.idinscstatus == 9"}
                      
                        <span style="font-weight: bold; text-align: left; color: red;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      
                      {/if} 
                       </h5>               
                    </div>


              <div class="col-md-2" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/admin/profile/insc-audi/{$value.idinsc}/{$value.idpess}/{$turma.idturma}" role="button">Detalhes</a>
                </h5>
              </div> 

                  
                </div>
              </div>
              
            </div>
          </div>
          {/if}
           
          {/loop}
          </div>      
          
          <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
            <div class="box-body" style="text-align: center; background-color: orangered;">
              <span style="color: black; font-weight: bold">Canceladas
              </span>
            </div>

          {loop="$inscTodas"}
            {if="($value.idinscstatus == 9)"}
            <div class="box-body" style=" margin: 5px;">
              <div {function="colorStatus($value.idinscstatus)"} style="margin: 5px" class="row">
              
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">
                      {$value.numordem}º -
                      <strong>[{$value.idinsc}] - {$value.nomepess}</strong>
                      &nbsp;{function="formatCpf($value.numcpf)"}&nbsp;
                      <strong>{function="calcularIdade($value.dtnasc)"} anos</strong>
                      &nbsp;Nascim.: {function="formatDate($value.dtnasc)"}&nbsp;
                    </h5>
                  </div>

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">               
                       <strong>Resp: {$value.desperson}</strong>
                      &nbsp;
                       <a href="https://wa.me/+55{$value.nrphone}?text=Olá!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do aluno ou responsável. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: green;"></i><span style="color: black;"> {$value.nrphone}&nbsp;</span></a>                       

                       &nbsp;&nbsp;&nbsp;&nbsp;

                       <a style="font-weight: bold;" onclick="requisitarPaginaEndereco('/prof/insc-turma-temporada-endereco/{$value.idpess}')"><i class="fas fa-map-marker-alt"></i> Endereço </a>         

                        &nbsp;&nbsp;&nbsp;&nbsp;

                      <strong>Dt Insc.: {function="formatDate($value.dtinsc)"}</strong>
                      &nbsp;Dt Matric.: {function="formatDate($value.dtmatric)"}&nbsp;
                    </h5>
                  </div>                   
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">                  

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;"> 

                      <span style="font-weight: bold; text-align: left; color: brown;">                  
                        {if="$value.vulnsocial == 1"} (Vuln. Social) &nbsp;&nbsp;{/if}
                      </span>                
                      
                      <span style="font-weight: bold; text-align: left; color: darkblue;">  
                        {if="$value.inscpcd == 1"} PCD &nbsp;&nbsp;{/if}  
                      </span>        
                      
                      <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                        {if="$value.laudo == 1"}LAUDO  &nbsp;&nbsp;{/if}
                       </span>
                   
                  

                    {if="$value.idinscstatus == 1"}              
                    <span style="font-weight: bold; text-align: left; color: blue;">                  
                      <span>{$value.descstatus}</span>
                    </span>             
                    {/if}

                  
              
                    {if="$value.idinscstatus == 2"}
              
                    <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                      <span>{$value.descstatus}</span>
                    </span>
             
                    {/if}
               

                      {if="$value.idinscstatus == 3"}
                      
                        <span style="font-weight: bold; text-align: left; color: green;">                  
                          <span>*{$value.descstatus}*</span>
                        </span>
                      
                      {/if}

                      {if="$value.idinscstatus == 6"}
                        <span style="font-weight: bold; text-align: left; color: darkorange;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}


                      {if="$value.idinscstatus == 7"}
                        <span style="font-weight: bold; text-align: left; color: darkblue;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}

                      
                      {if="$value.idinscstatus == 8"}
                        <span style="font-weight: bold; text-align: left; color: orange;">                  
                          Status: <span>{$value.descstatus}</span>
                        </span>
                      {/if}
                      
                      {if="$value.idinscstatus == 9"}
                      
                        <span style="font-weight: bold; text-align: left; color: red;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      
                      {/if} 
                       </h5>               
                    </div>


              <div class="col-md-2" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/admin/profile/insc-audi/{$value.idinsc}/{$value.idpess}/{$turma.idturma}" role="button">Detalhes</a>
                </h5>
              </div> 

                  
                </div>
              </div>
              
            </div>
          </div>

          {/if}
           
          {/loop}
          </div>      

          <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
            <div class="box-body" style="text-align: center; background-color: darkorange;">
              <span style="color: black; font-weight: bold">Desistentes
              </span>
            </div>

          {loop="$inscTodas"}
            {if="($value.idinscstatus == 8)"}
            <div class="box-body" style=" margin: 5px;">
              <div {function="colorStatus($value.idinscstatus)"} style="margin: 5px" class="row">
              
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">
                      {$value.numordem}º -
                      <strong>[{$value.idinsc}] - {$value.nomepess}</strong>
                      &nbsp;{function="formatCpf($value.numcpf)"}&nbsp;
                      <strong>{function="calcularIdade($value.dtnasc)"} anos</strong>
                      &nbsp;Nascim.: {function="formatDate($value.dtnasc)"}&nbsp;
                    </h5>
                  </div>

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;">               
                       <strong>Resp: {$value.desperson}</strong>
                      &nbsp;
                       <a href="https://wa.me/+55{$value.nrphone}?text=Olá!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do aluno ou responsável. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: green;"></i><span style="color: black;"> {$value.nrphone}&nbsp;</span></a>                       

                       &nbsp;&nbsp;&nbsp;&nbsp;

                       <a style="font-weight: bold;" onclick="requisitarPaginaEndereco('/prof/insc-turma-temporada-endereco/{$value.idpess}')"><i class="fas fa-map-marker-alt"></i> Endereço </a>         

                        &nbsp;&nbsp;&nbsp;&nbsp;

                      <strong>Dt Insc.: {function="formatDate($value.dtinsc)"}</strong>
                      &nbsp;Dt Matric.: {function="formatDate($value.dtmatric)"}&nbsp;
                    </h5>
                  </div>                   
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">                  

                  <div class="col-md-6" style="margin: 2; padding: 2">
                    <h5 style="text-align: left;"> 

                      <span style="font-weight: bold; text-align: left; color: brown;">                  
                        {if="$value.vulnsocial == 1"} (Vuln. Social) &nbsp;&nbsp;{/if}
                      </span>                
                      
                      <span style="font-weight: bold; text-align: left; color: darkblue;">  
                        {if="$value.inscpcd == 1"} PCD &nbsp;&nbsp;{/if}  
                      </span>        
                      
                      <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                        {if="$value.laudo == 1"}LAUDO  &nbsp;&nbsp;{/if}
                       </span>
                   
                  

                    {if="$value.idinscstatus == 1"}              
                    <span style="font-weight: bold; text-align: left; color: blue;">                  
                      <span>{$value.descstatus}</span>
                    </span>             
                    {/if}

                  
              
                    {if="$value.idinscstatus == 2"}
              
                    <span style="font-weight: bold; text-align: left; color: darkgreen;">                  
                      <span>{$value.descstatus}</span>
                    </span>
             
                    {/if}
               

                      {if="$value.idinscstatus == 3"}
                      
                        <span style="font-weight: bold; text-align: left; color: green;">                  
                          <span>*{$value.descstatus}*</span>
                        </span>
                      
                      {/if}

                      {if="$value.idinscstatus == 6"}
                        <span style="font-weight: bold; text-align: left; color: darkorange;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}


                      {if="$value.idinscstatus == 7"}
                        <span style="font-weight: bold; text-align: left; color: darkblue;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      {/if}

                      
                      {if="$value.idinscstatus == 8"}
                        <span style="font-weight: bold; text-align: left; color: orange;">                  
                          Status: <span>{$value.descstatus}</span>
                        </span>
                      {/if}
                      
                      {if="$value.idinscstatus == 9"}
                      
                        <span style="font-weight: bold; text-align: left; color: red;">                  
                          <span>{$value.descstatus}</span>
                        </span>
                      
                      {/if} 
                       </h5>               
                    </div>


              <div class="col-md-2" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  <a href="/admin/profile/insc-audi/{$value.idinsc}/{$value.idpess}/{$turma.idturma}" role="button">Detalhes</a>
                </h5>
              </div> 

            
                </div>
              </div>
              
            </div>
          </div>

          {/if}
           
          {/loop}
          </div>
         
       

         
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>

          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->



