<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de números do sorteio
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/admin/turma-temporada/{$temporada.idtemporada}">Temporada {$temporada.desctemporada}</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        {if="$errorSorteio != ''"}
          <div class="alert alert-danger" role="alert">
              {$errorSorteio}
          </div>
        {/if}
            <div class="row">
              <div class="col-md-12">         

                <form method="post" action="/admin/sortear">
                <div>
                  {if="$maxIncritosTemporada.maximoInscritos > 0"}
                    <div class="alert alert-info" style="text-align: center;">
                      Qtde de números para o sorteio: <h3 style="color: black;">{$maxIncritosTemporada.maximoInscritos}</h3>
                    </div> 

                    {if="$temporada.idstatustemporada == 3"}
                    <div style="text-align: center;">

                      <input type="hidden" name="desctemporada" value="{$temporada.desctemporada}" >
                      <input type="hidden" name="idtemporada" value="{$temporada.idtemporada}">
                      <input type="hidden" name="maxIncritosTemporada" value="{$maxIncritosTemporada.maximoInscritos}">
                      
                      <input type="submit" name="sortear" value="Realizar Sorteio" class="btn btn-success btn-lg">
                     
                    </div> 
                    {else}
                    <div style="text-align: center;">

                      <input type="hidden" name="desctemporada" value="{$temporada.desctemporada}" >
                      <input type="hidden" name="idtemporada" value="{$temporada.idtemporada}">
                      <input type="hidden" name="maxIncritosTemporada" value="{$maxIncritosTemporada.maximoInscritos}">
                      
                      <input type="submit" disabled="true" name="sortear" value="Realizar Sorteio" class="btn btn-success btn-lg">
                     
                    </div>     
                    {/if}

                  {else}
                    <div class="alert alert-danger" style="text-align: center;">
                      {$error}
                    </div>
                  {/if}                    
                </div>   
                </form>              
              </div>              
            </div>  

            <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
              
            <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
              <div class="row">

              <div class="col-md-3" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                    Ordem do sorteio
                </h5>
              </div>
              <div class="col-md-2" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                    Número sorteado
                </h5>
              </div>            

            </div>
          </div>

            {loop="$sorteio"}
            <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
              <div class="row">

              <div class="col-md-3" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  {$value.numerodeordem}
                </h5>
              </div>

              <div class="col-md-2" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  {$value.numerosortear}
                </h5>
              </div>

            </div>
          </div>
          {/loop} 

            <!-- /.box-body -->
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-print"></i> Imprimir
            </button>
          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->