
<script type="text/javascript">
  
  function atualizaStatus(idturma, desctemporada, idtemporada){

        let status = prompt('Para atualizar o status da turma '+ idturma +' para a temporada '+ desctemporada +' selecionada, digite:\n 2 - para inscrições não iniciadas\n 3 - para inscrições abertas\n 4 - para inscrições suspensas\n 5 - para inscrições encerradas\n 6 - para turma não iniciada');   
        
        let url = "/admin/atualiza/turmatemporada/"+idturma+"/"+idtemporada+"/"+desctemporada+"/"+status        

        let ajax = new XMLHttpRequest();
        ajax.open('GET', 'url'); 
        $.ajax({
          url: url,
          method: 'GET'  
        }).done(function(result){ 
                
            alert(result)        

        });
      }

</script>

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
<h1>
 Turmas relacionadas à Temporada {$temporada.desctemporada} - {$temporada.descstatustemporada}   

</h1>
<ol class="breadcrumb">
  <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
  {if="getUserId() == 1 OR getUserId() == 156"}
  <li><a href="/admin/insc/{$temporada.idtemporada}"> Todas inscrições {$temporada.desctemporada} </a></li>
  <li><a href="/admin/temporada/{$temporada.idtemporada}/turma"> Inserir turma {$temporada.desctemporada}</a></li>
  {/if}
</ol>
</section>

<!-- Main content -->
<section class="content">

<div class="row">

  {if="$error != ''"}
          <div class="alert alert-danger" style="margin: 10px 10px 0px 10px">
      {$error}
          </div>
      {/if}
  <div class="col-md-12">

      <div class="box box-primary"> 

        
      <div class="box-body" style="border: solid 1px lightblue; margin: 5px;"> 
      <div class="box-body col-md-2">
          {loop="$locais"}
                  <a href="/admin/turma-temporada/{$temporada.idtemporada}/local/{$value.idlocal}"><i class=""></i>{$value.apelidolocal}</a>&nbsp;&nbsp;&nbsp;&nbsp;
          {/loop}
          <br><br>
          {loop="$modalidades"}
                  <a href="/admin/turma-temporada/{$temporada.idtemporada}/modalidade/{$value.idmodal}"><i class=""></i>{$value.descmodal}</a>&nbsp;&nbsp;&nbsp;&nbsp;
          {/loop}
          <a style="font-weight: bold" href="/admin/turma-temporada/{$temporada.idtemporada}"><i class=""></i>TODOS OS LOCAIS</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <!--    <table class="table table-striped">
                      <thead>
                          <tr>
                           <th>Turmas da temporada por centro esportivo</th>
                          </tr>
                      </thead>
                      <tbody>

                          <tr>
                          <td>
                              <a href="/admin/turma-temporada/{$temporada.idtemporada}"><i class=""></i>Todas turmas - Temporada {$temporada.desctemporada}</a>
                          </td>
                          {loop="$locais"}
                          <tr>
                          <td>
                              <a href="/admin/turma-temporada/{$temporada.idtemporada}/local/{$value.idlocal}"><i class=""></i> {$value.idlocal} - {$value.apelidolocal}</a>
                          </td>
                          </tr>
                          {/loop}

                      </tbody>
                  </table>
                -->
              </div> 
          <div class="box-body no-padding col-md-10">
        <div class="box-header">   

          {if="$local == null"}

          <h3>Todos locais</h3>

          {else}

          <h3>{$local.apelidolocal}</h3>

          {/if}       
       </div>
            
                {loop="$turmas"}
                <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
        

                  <div class="row">

                    <div class="col-md-6" >
                      <span style="text-align: left;">
                          
                           <strong>{$value.descturma}</strong> 
                          
                          {if="$value.idturmastatus == 2"}
                          <span>
                            <a style="color: orange; font-weight: bold; text-align-last: right;" onclick="atualizaStatus({$value.idturma}, {$value.desctemporada}, {$value.idtemporada})">- Inscrições não iniciadas</a>
                          </span>

                          {/if}
                       
                          {if="$value.idturmastatus == 3"}
                          <span>
                            <a style="color: darkgreen; font-weight: bold; text-align-last: right;" onclick="atualizaStatus({$value.idturma}, {$value.desctemporada}, {$value.idtemporada})">- Inscrições abertas</a>
                          </span>

                          {/if}

                          {if="$value.idturmastatus == 4"}
                          <span>
                            <a style="color: red; font-weight: bold; text-align-last: right;" onclick="atualizaStatus({$value.idturma}, {$value.desctemporada}, {$value.idtemporada})"> - Inscrições suspensas</a>
                          </span>
                          {/if}

                          {if="$value.idturmastatus == 6"}
                          <span>
                            <a style="color: blue; font-weight: bold; text-align-last: right;" onclick="atualizaStatus({$value.idturma}, {$value.desctemporada}, {$value.idtemporada})"> - Turma não iniciada</a>
                          </span>
                          {/if}    
                          
                          - {$value.diasemana}
                          {$value.horainicio} ás {$value.horatermino} -  
                          <strong>{$value.descrfxetaria}  {$value.initidade} a {$value.fimidade} anos</strong>
                          -  {$value.apelidolocal} - {$value.nomeespaco} - <strong>Professor: {if="$value.idperson == 1"} Admin Master {else} {$value.apelidoperson} {/if}</strong>&nbsp; Vagas: ({$value.vagas} Geral)&nbsp; - &nbsp;({$value.vagaslaudo} Laudo)&nbsp; - &nbsp;({$value.vagaspcd} PCD)&nbsp; - &nbsp;({$value.vagaspvs} PVS)
                      </span>
                    </div>      
                   <div class="col-md-6">

                      <h5 style="font-weight: bold; text-align: left; color: green;">
                         <strong style="color: orange;">[{$value.idturma}]</strong> &nbsp;&nbsp;
                         
                         <a href="/admin/insc-turma-temporada/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}"> 
                         | &nbsp; Consultar {$value.numinscritos} inscritos &nbsp; |
                         </a> &nbsp; 

                         <a href="/admin/insc-turma-temporada-chamada/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: green;"> 
                         &nbsp; Imprimir lista chamada ({$value.nummatriculados}) &nbsp; 
                         </a> &nbsp; 
                         
                         <a href="/admin/calendario-lista-presenca/{$value.idtemporada}/{$value.idturma}" style="color: orangered;">
                         | &nbsp; Fazer Chamada &nbsp; |
                         </a> &nbsp;  
                         
                         <a href="/admin/listapessoasporturma/{$value.idturma}/{$value.idtemporada}" style="color: black;">
                          &nbsp; Lista com endereços &nbsp; 
                         </a> &nbsp;  
                         
                         <!--
                         <a href="/insc-turma-temporada-classificadas/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">
                         | &nbsp; Classificação </a>  &nbsp; 
                         &nbsp;  
                         -->
                         
                         <!--
                         &nbsp; <a href="/admin/insc-turma-temporada-matricular/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: darkblue;">
                         | Lista/Matricular </a>  &nbsp;   
                         -->
                         
                      <!--  | &nbsp; <a href="/insc-turma-temporada-para-sorteio/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">  Sorteio |</a>  &nbsp;  
                      -->

                        {if="$value.token == 1"}
                          <a href="/admin/token/{$value.idturma}/{$temporada.idtemporada}" style="color: darkblue;"> 
                          | &nbsp; 
                          <span style="color: darkorange;">
                               NECESSÁRIO 
                               <i class="fa fa-info-circle" style="font-size: 14px;"></i> &nbsp;
                          </span>  Tokens &nbsp; |
                          </a> &nbsp;
                          {else}
                        
                          <a href="/admin/token/{$value.idturma}/{$temporada.idtemporada}" style="color: darkblue;"> 
                          | &nbsp;  Tokens  &nbsp; | 
                          </a> &nbsp;
                          {/if}



                           <a href="/admin/insc-altera-turma-temporada/{$value.idmodal}/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}"> 
                         &nbsp; Mover inscritos &nbsp;
                         </a> &nbsp; 

                         <a href="/admin/crialispersonalizadaautorizacao/{$value.idturma}/{$value.idtemporada}" style="color: purple;">
                          | &nbsp; Criar uma Lista &nbsp; |
                          </a> &nbsp;
                         <br>
                         <span id="lermais{$value.idturma}" style="color: darkblue;" onclick="expandir({$value.idturma})">Ler mais...</span> 
                         
                      </h5>
                    </div>                    
                    
                  </div>
                </div>
                
                {/loop}
            <!--
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                  <i class="fa fa-print"></i> Imprimir
              </button>
            -->
          </div>
          
          
          <!-- /.box-body -->


           
            

          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              {loop="$pages"}
              <li><a href="{$value.href}">{$value.text}</a></li>
              {/loop}
            </ul>
          </div>

        </div>

  </div>
</div>
</div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->