

              
                {loop="$insc"}
                <div class="col-md-12">
                  <div class="row">                     
                    <div class="col-md-12" style="border: 1px solid black;">                        
                      <div class="row">  
                        <div class="col-md-12" style="margin: 5 0 5 0; text-align: center; font-weight: bold;">

                          {$value.idinsc} - {$value.nomepess}  - 

                          {if="$value.statuspresenca == 1"}
                          <span style="color: green;">( <i class="fa fa-check"></i> )</span> 
                          {/if}
                          {if="$value.statuspresenca == 0"}
                           <span style="color: red;">( X )</span>
                          {/if}
                          {if="$value.statuspresenca == 2"}
                          <span style="color: blue;">( J )</span>
                          {/if}
                          {if="$value.statuspresenca == 4"}
                          ( - )
                          {/if}
                          <br>
                          
                          {if="$value.idinscstatus == 9"}
                          <span style="color: red;">CANCELADA</span>
                          {else}
                            {if="$value.idinscstatus == 8"}
                                <span style="color: red;">DESISTENTE</span>
                            {else}
                              {if="$value.statuspresenca != 1"}
                              <input hidden class="idtemporada" id="idtemporada" type="text" name="idtemporada" value="{$idtemporada}">
                              <input hidden class="idturma" id="idturma" type="text" name="idturma" value="{$value.idturma}">
                              <input hidden class="data" id="data" type="text" name="data" value="{$data}">
                              <input hidden class="idinsc" id="idinsc" type="text" name="idinsc" value="{$value.idinsc}">
                                  <!--
                                  <a class="presente" id="presente" href="/prof/insc-turma-temporada-presente/{$idtemporada}/{$turma.idturma}/{$data}/{$value.idinsc}" style="color: green;">Presente?</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                -->

                                <a class="presente" id="presente" href="#" onclick="requisitarPagina('/prof/insc-turma-temporada-presente/{$idtemporada}/{$turma.idturma}/{$data}/{$value.idinsc}')" style="color: green;">Presente?</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                               
                              {/if}                         
                          
                              {if="$value.statuspresenca != 0"}
                              <input hidden class="idtemporada" id="idtemporada" type="text" name="idtemporada" value="{$idtemporada}">
                              <input hidden class="idturma" id="idturma" type="text" name="idturma" value="{$value.idturma}">
                              <input hidden class="data" id="data" type="text" name="data" value="{$data}">
                              <input hidden class="idinsc" id="idinsc" type="text" name="idinsc" value="{$value.idinsc}">
                                
                                <!--
                                  <a class="ausente" id="ausente" href="/prof/insc-turma-temporada-ausente/{$idtemporada}/{$turma.idturma}/{$data}/{$value.idinsc}"><span style="font-weight: bold; margin: 0 3 0 3; color: red;">Ausente?</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                -->
                                 <a class="ausente" id="ausente" href="#" onclick="requisitarPagina('/prof/insc-turma-temporada-presente/{$idtemporada}/{$turma.idturma}/{$data}/{$value.idinsc}')" style="color: red;">Ausente?</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                

                                  
                                  

                              {/if}

                              {if="$value.statuspresenca != 2"}

                              <input hidden class="idtemporada" id="idtemporada" type="text" name="idtemporada" value="{$idtemporada}">
                              <input hidden class="idturma" id="idturma" type="text" name="idturma" value="{$value.idturma}">
                              <input hidden class="data" id="data" type="text" name="data" value="{$data}">
                              <input hidden class="idinsc" id="idinsc" type="text" name="idinsc" value="{$value.idinsc}">
                                <!--
                                  <a class="justificar" id="justificar" href="/prof/insc-turma-temporada-justificar/{$idtemporada}/{$turma.idturma}/{$data}/{$value.idinsc}"><span style="font-weight: bold; margin: 5 3 5 3; color: blue;"> Justificar? </span></a>&nbsp;&nbsp;&nbsp;&nbsp; 
                                -->
                                <a class="justificar" id="justificar" href="#" onclick="requisitarPagina('/prof/insc-turma-temporada-presente/{$idtemporada}/{$turma.idturma}/{$data}/{$value.idinsc}')" style="color: blue;"> Justificar?</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                
                              {/if}
                            {/if}
                         {/if} 

                        </div>
                      </div>      
                    </div>
                  </div>                  

                </div>

                {else}
                <div class="col-md-12" style="font-weight: bold; color: red; font-size: 22px; text-align: center; ">
                  Não há pessoas matriculadas 
                </div>
                {/loop}  
