<li class="treeview">
								   		<a href="/prof/insc/83">
								   			<i class="fa fa-link"></i> 
								   			Inscrições - 2019
								   		</a>								   		
									</li><li class="treeview">
								   		<a href="/prof/insc/84">
								   			<i class="fa fa-link"></i> 
								   			Inscrições - 2020
								   		</a>								   		
									</li><li class="treeview">
								   		<a href="/prof/insc/4">
								   			<i class="fa fa-link"></i> 
								   			Inscrições - 2022
								   		</a>								   		
									</li>