<li class="treeview">
								   		<a href="/prof/insc/53">
								   			<i class="fa fa-link"></i> 
								   			Inscrições - 2019
								   		</a>								   		
									</li><li class="treeview">
								   		<a href="/prof/insc/57">
								   			<i class="fa fa-link"></i> 
								   			Inscrições - 2020
								   		</a>								   		
									</li><li class="treeview">
								   		<a href="/prof/insc/4">
								   			<i class="fa fa-link"></i> 
								   			Inscrições - 2021
								   		</a>								   		
									</li>