
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Tokens da turma: {$turma.idturma} -  {$turma.descturma} - {$turma.periodo} {$turma.diasemana} {$turma.horainicio} ás {$turma.horatermino} 
  </h1>
  <ol class="breadcrumb">
    <li><a href="/prof"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a style="color: red" href="javascript: history.go(-1)">Voltar</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        {if="$error != ''"}
          <div class="alert alert-danger" style="margin: 10px 10px 0px 10px">
        {$error}
          </div>
        {/if}
        
         <!-- <a href="/prof/turma/create/token/{$turma.idturma}" class="btn btn-success">Gerar token</a> -->
            
             <form method="post" action="/prof/turma/create/token">
            <div class="box-header">
            

             

            <input hidden type="text" name="idturma" value="{$turma.idturma}">
             <input hidden type="text" name="iduser" value="{$turma.iduser}">
             <input hidden type="text" name="idtemporada" value="{$idtemporada}"/>
           
            <input style="width: 170px; float: left;" type="text" maxlength="14" id="numcpf" name="numcpf" class="input-text" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}"  placeholder="000.000.000-00">
                    <script type="text/javascript">$("#numcpf").mask("000.000.000-00");</script>
            </div>
            <div class="box-header">
            <input class="btn btn-success" type="submit" name="" value="Gerar Token">

            </div>



        </form>

        <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
            <div class="row" style="margin: 5px;">
            {loop="$tokens"}
                <div class="col-md-2" style="border: solid 1px; text-align: center;">

                    {if="$value.isused == 0"}
                    <span style="font-weight: bold; color: darkblue;">                  
                        {$value.token}</span> <br>
                        {if="$value.numcpf"}
                            {$value.numcpf}
                        {else}
                            NULL
                        {/if}
               
                    {else}
                    <span style="font-weight: bold; color: red;">                  
                        <s>{$value.token}</s>
                    </span><i class="fa fa-check" style="color: green;"></i><br>

                        {if="$value.numcpf"}
                            {$value.numcpf}
                        {else}
                            NULL
                        {/if}               
                    {/if}
                    <br>   

                    Criado por: {function="getUserNameById($value.creator)"}
                </div>               
            {/loop}           
            <!-- /.box-body -->
            </div>
    </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->