
<script type="text/javascript">
  

  function openDiv(idmodalidade){

        let idmodal = idmodalidade;
              
            document.getElementById('idmodal'+idmodal ).hidden = false  
            document.getElementById('btnModalClose'+idmodal ).hidden = false
            document.getElementById('btnModalOpen'+idmodal ).hidden = true      
  }

  function closeDiv(idmodalidade){

        let idmodal = idmodalidade;

            document.getElementById('idmodal'+idmodal ).hidden = true  
            document.getElementById('btnModalOpen'+idmodal ).hidden = false  
            document.getElementById('btnModalClose'+idmodal ).hidden = true 
          
  }


</script>

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
<h4>
 Turmas relacionadas à Temporada {$temporada.desctemporada} - {$temporada.descstatustemporada}  

</h4>
<ol class="breadcrumb">
  <li><a href="/prof-estagiario"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active"><a style="color: red" href="javascript: history.go(-1)">Voltar</a>
    </li>
</ol>
</section>

<!-- Main content -->
<section class="content">

<div class="row">

  {if="$error != ''"}
          <div class="alert alert-danger" style="margin: 10px 10px 0px 10px">
      {$error}
          </div>
      {/if}
  <div class="col-md-12">

      <div class="box box-primary"> 

        <div class="box-header"> 


          <h3>{$localdaaula}</h3>

         

       </div>
      </div>
      <div class="box-body" style="border: solid 1px lightblue; margin: 5px;"> 
          <div class="box-body no-padding col-md-12">

            <div class="row">
            <div class="col-md-12">

            {loop="$modalidades"}

            

            {$idmodalidade = $value.idmodal}


                <div  id="btnModalOpen{$idmodalidade}">
                <div style="text-align: center; border-radius: 5px; margin: 5px; height: 30px;" class="btn-primary col-md-12" onclick="openDiv({$idmodalidade})" >{$value.descmodal} <i class="fa fa-caret-down"></i></div> 
                </div>

                <div  id="btnModalClose{$idmodalidade}" hidden>
                <div style="text-align: center; border-radius: 5px; margin: 5px; height: 30px;" class="btn-primary col-md-12" onclick="closeDiv({$idmodalidade})" >{$value.descmodal} <i class="fa fa-caret-up"></i></div> 
                </div>


                <div id="idmodal{$idmodalidade}" hidden >
                {loop="$turmas"}
                
                {if="$idmodalidade == $value.idmodal"}
                <div  class="box-body" style="border: solid 1px lightblue; margin: 2px;">

                  <div class="row">

                    <div class="col-md-8" >
                      <span style="text-align: left;">
                       
                      <strong>{$value.descturma} </strong> 

                        {if="$value.idturmastatus == 2"}
                          <span style="color: orange; font-weight: bold;">- Inscrições não iniciadas</span>                  
                        {/if}
                       
                        {if="$value.idturmastatus == 3"}
                          <span style="color: darkgreen; font-weight: bold;">- Inscrições abertas</span>
                         
                        {/if}

                        {if="$value.idturmastatus == 4"}
                          <span style="color: red; font-weight: bold;"> - Inscrições suspensas</span>
                          
                        {/if}

                        {if="$value.idturmastatus == 6"}
                          <span style="color: blue; font-weight: bold;"> - Turma não iniciada</span>
                          
                        {/if}

                       {$value.diasemana} {$value.horainicio} ás {$value.horatermino} - 
                       <strong>{$value.descrfxetaria}  {$value.initidade} a {$value.fimidade} anos -</strong>   {$value.apelidolocal} - {$value.nomeespaco}&nbsp; <strong> Vagas: ({$value.vagas} Geral)&nbsp; - &nbsp;({$value.vagaslaudo} Laudo)&nbsp; - &nbsp;({$value.vagaspcd} PCD)&nbsp; - &nbsp;({$value.vagaspvs} PVS)</strong>
                       - <strong> Obsevação: </strong>{$value.obs}  
                      </span>
                    </div>                      

                    <div class="col-md-4">
                      <h5 style="font-weight: bold; text-align: left; color: green;">
                           <strong style="color: orange;">[{$value.idturma}]</strong> &nbsp;&nbsp; 
                        
                        <a href="/estagiario/insc-turma-temporada/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}"> 
                         | &nbsp; Consultar {$value.numinscritos} inscritos &nbsp; |
                         </a> &nbsp; 

                         <a href="/estagiario/insc-turma-temporada-chamada/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: green;"> 
                          &nbsp; Imprimir lista chamada ({$value.nummatriculados}) &nbsp; 
                         </a> &nbsp; 
                         
                         <a href="/estagiario/calendario-lista-presenca/{$value.idtemporada}/{$value.idturma}" style="color: orangered;">
                         | &nbsp;Fazer Chamada   &nbsp; |
                         </a> &nbsp;  
                         
                         <a href="/estagiario/listapessoasporturma/{$value.idturma}/{$value.idtemporada}" style="color: black;">
                          &nbsp; Lista com endereços   &nbsp; 
                         </a> &nbsp;  
                         
                         <!--
                         <a href="/insc-turma-temporada-classificadas/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">
                         | &nbsp; Classificação </a>  &nbsp; 
                         -->
                         <!--
                         &nbsp;  
                         &nbsp; <a href="/estagiario/insc-turma-temporada-matricular/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: darkblue;">
                         | Lista/Matricular </a>  &nbsp;     
                         -->
                      <!--  | &nbsp; <a href="/insc-turma-temporada-para-sorteio/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">  Sorteio |</a>  &nbsp;  
                      -->


                        
                          
                        
                      </h5>
                    </div>                    
                    <!--
                    <div class="col-md-2">
                      <h5 style="font-weight: bold; text-align: left; color: darkgreen;">
                        {$value.nummatriculados} matriculados                        
                      </h5>
                    </div>
                    -->
                  </div>
                    
                </div>
                {else}

                {/if}


                
                {/loop}
                 </div>
               
          {/loop}
          </div>
          </div>
            <!--
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                  <i class="fa fa-print"></i> Imprimir
              </button>
            -->
          
          
          <!-- /.box-body --> 
          
          

        </div>

  </div>
</div>
</div>
</div>
</div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">
  

  


</script>