
<script>
    /*
    function quantosAnos(nascimento, hoje) {

        var diferencaAnos = hoje.getFullYear() - nascimento.getFullYear();
        if ( new Date(hoje.getFullYear(), hoje.getMonth(), hoje.getDate()) < 
         new Date(hoje.getFullYear(), nascimento.getMonth(), nascimento.getDate()) )
        diferencaAnos--;
        return diferencaAnos;
    }  

    function menorDeIdade(){     

        let hoje = new Date()

        let dataagenda = new Date(document.getElementById('dataagenda').value)

        let idadeAnos = quantosAnos(dataagenda, hoje)

        if(idadeAnos < 0){
            alert('Data inválida!')
            document.getElementById('dataagenda').value = 0
        }
    } 
    */    
    
</script>

     <div class="container"> <!-- container 1 -->
                <div class="row"> <!-- row 2 -->
                  <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 5px 0px 50px 0px;">

    <div class="container">
        <div class="row" style="padding-bottom: 5px">
            <div class="col-md-12">
                    
                {if="$error != ''"}
                <div class="alert alert-danger">
                {$error}
                </div>
                {/if}
                
                {if="$idlocal == 3"}
                    <div class="alert alert-info" style="font-size: 12px">
                        Agora você já pode agendar dois horário seguidos de <STRONG>30 minutos</STRONG> para praticar a natação espontânea no Baetão, de <STRONG>SEGUNDA</STRONG> a <STRONG>DOMINGO</STRONG>, se o horário estiver diponível. Aproveite!!
                    </div>
                {/if}
                {if="$idlocal == 21"}
                    <div class="alert alert-info" style="font-size: 12px">
                        Agora você já pode agendar para nadar na piscina do Paulicéia de <STRONG>SEGUNDA</STRONG> à <STRONG>SEXTA-FEIRA.</STRONG> Confira e aproveite!
                    </div>
                {/if}
            </div>

            <div class="col-md-12" style="font-weight: bold; color: darkgreen;">
                Selecione um horário e uma pessoa, <br>  
                logo em seguida clique no botão "ENVIAR"<br>
            </div>


        
            <div class="col-md-12">   
                
                <form action="/hora-agenda" method="post"> 

                        <input type="text" name="idlocal" value="{$idlocal}" style="display: none;"> 
                         <input type="text" name="ispresente" value="0" style="display: none;"> 
                         <input type="text" name="titulo" value="raia" style="display: none;"> 
                          <input type="text" name="dataSemSemana" value="{$dataSemSemana}" style="display: none;">
                          <input type="text" name="data" value="{$data}" style="display: none;">
                   
                         

                         <label style="color: blue;"><br>SELECIONE UM HORÁRIO para: <span style="font-weight: bold;"><br>{$nomediadasemana} - {$dataformatada}</span><br></label><br>
                         
                        
                        {loop="$horariosDiaSemana"}

                        <input type="radio" name="idhoradiasemana" value="{$value.idhoradiasemana}">

                        {$value.horamarcadainicial} ás {$value.horamarcadafinal}
                        
                        -

                        <span style="font-size: 10px; font-style: italic;">

                        {function="agendaPorDataIdHoraDiaSemana($dataSemSemana, $idlocal, $value.idhoradiasemana)"} 

                        de

                        {function="vagasIdHorasemana($value.idhoradiasemana)"} 
                        
                        vagas

                         </span> <br>

                        <input type="text" name="horamarcadainicial" value="{$value.horamarcadainicial}" style="display: none;">
                        <input type="text" name="horamarcadafinal" value="{$value.horamarcadafinal}" style="display: none">

                        {/loop}   
                        <br>

                        <label style="color: blue;">
                            SELECIONE UMA PESSOA<br>
                        </label>
                        
                        {loop="$pessoa"}
                        <p>
                        <input type="radio" name="idpess" value="{$value.idpess}"> 
                        {$value.nomepess}; {function="calcularIdade($value.dtnasc)"} anos;                  
                        </p>                                
                        {else}
                        <p>
                             Não há pessoas inseridas
                        </p>                                   
                           
                        {/loop}
                        
                        <p>
                           <a href="/pessoa-create">  INSERIR UMA NOVA PESSOA </a>
                        </p>                  
                
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-12" style="margin-top: 10px; text-align-last: center">
                    <input style="width: 100%; float: right; background-color: #15a03f;" type="submit" class="btn">
                </div> 
                <div class="col-md-12" style="margin-top: 10px; text-align-last: center">

                        <a class="btn" style="width: 100%; float: right; background-color: #ce2c3e;  text-decoration: none; color: white;" href="javascript:window.history.go(-1)" text-decoration="none">CANCELAR / VOLTAR
                        </a>
                       
                </div>                  
            </div>
    </div>
    </form>

        </div>    
    </div>     

   

    </div> <!-- final da index -->               


