
<form action="/checkout">

    {if="$error != ''"}
    <div class="alert alert-danger" role="alert">
    {$error}
    </div>
    {/if}

    <div class="container">
        {loop="$turma"}
        <!--<div class="row alert alert-primary">
            <div class="col-md-12">
                Turma selecionada! Selecione agora, logo abaixo, a pessoa que irá participar desta turma.
            </div>
        </div>
      -->
         
        <div class="row alert alert-primary"> 
            <div class="col-md-3">
                <a href="/turma/{$value.idturma}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="{$value.desphoto}"></a>
              </div>                      

            <div class="col-md-9">
               TURMA: <a href="/turma/{$value.idturma}">{$value.descativ} - {$value.periodo} / </a> 
               <span class="amount"> 
                  LOCAL: {$value.apelidolocal} - {$value.rua}, Nº {$value.numero} - {$value.bairro} / 
               </span> 
               <span class="amount">
                  HORÁRIO: {$value.diasemana} - {$value.horainicio} às {$value.horatermino} / 
               </span> 
               <span class="amount">
                  FAIXA ETÁRIA: {$value.initidade} a {$value.fimidade} - {$value.descrfxetaria}
              </span> 
               <span class="amount">
                  PROFESSOR: {$value.desperson} - 
               </span> 
                <span class="amount">
                   <br> <br><a title="Remove this item" class="remove" href="/cart/{$value.idturma}/remove"> REMOVER <p style="color: green">(Remover esta, selecionar outra turma)</p></a>
               </span>  

               <input type="text" name="idturma" hidden="" value="{$value.idturma}">
               <input type="text" name="idtemporada" hidden="" value="{$value.idtemporada}">  
               <input type="text" name="initidade" hidden="" value="{$value.initidade}">
               <input type="text" name="fimidade" hidden="" value="{$value.fimidade}">            
            </div>
             
        </div>
         <div class="row alert alert-primary">
            <div class="col-md-12">
                <div class="">
                    <div class="">

                        <h3>Selecione a Pessoa</h3>
                    
                        <div class="">

                            {if="$msgError != ''"}
                            <div class="alert alert-danger alert-dismissible" style="margin:10px">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p>{$msgError}</p>
                            </div>
                            {/if}
                            {if="$msgSuccess != ''"}
                            <div class="alert alert-success alert-dismissible" style="margin:10px">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p>{$msgSuccess}</p>
                            </div>
                            {/if}
                            <!-- form start -->                           
                            <div class="box-body">                                                               
                                <select class="form-control" name="idpess">
                                    <option selected="selected" value="idpess=0">
                                        Selecione uma pessoa
                                    </option>
                                    {loop="$pessoa"}
                                    <option {if="$value.iduser === $user.iduser"}{/if} value="{$value.idpess}">{$value.idpess} - {$value.nomepess}; {function="calcularIdade($value.dtnasc)"} anos; {$value.sexo}
                                    </option>

                                    {else}
                                    <option value="0">
                                        Não há pessoas cadastradas
                                    </option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                            <!-- /.box-body -->
                        <div class="box-footer">                                           
                               
                        </div>
                           
                       <!-- </form> -->


                        <div>&nbsp;</div>
                        <a href="/pessoa-create">Cadastrar uma nova pessoa</a>
                        <div>&nbsp;</div>
                        <input type="submit" value="Confirmar Inscrição" id="pessoa" class="button alt" formaction="/cart" formmethod="post">
                    </div>
                </div> 
            </div>
        </div>
        {else}
        <div class="row">
            <div class="col-md-12 alert alert-info" style="text-align-last: center; font-weight: bold">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Selecione abaixo uma turma</span>                            
            </div>
            
        </div>

  <div class="row" style="">
    <div class="col-md-4 alert" style="text-align-last: center; background-color: #ce2c3e; border: solid 5px; border-color: white;  border-radius: 25px;  padding-left: 0px ">
       <a class="btn" href="/locais" style="color: white; font-weight: bold;">Turmas por LOCAL (Crec)
       </a>
    </div>
    <div class="col-md-4 alert" style="text-align-last: center; background-color: #cc5d1e; border: solid 5px; border-color: white; border-radius: 25px;  padding-left: 0px">
       <a class="btn" href="/modalidades" style="color: white; font-weight: bold" >Turmas por MODALIDADE
       </a>
    </div>
    <div class="col-md-4 alert" style="text-align-last: center; background-color: #15a03f; border: solid 5px; border-color: white; border-radius: 25px;  padding-left: 0px;">
       <a class="btn" href="/" style="color: white; font-weight: bold; ">Todas turmas
       </a>
    </div>  
  </div>
  {/loop}
</div>                             
                         
</form>
 
            
                        
                




                                                                
                           