
<script> 
$(document).ready(function(){

    $('#link').on('change', function () {
        var url = $(this).val(); 
        if (url === 'pessoa-create') { 
            window.open(url, '_self');
        }
        return false;
    });
});
</script>

 <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->
              <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">


<form action="/checkout">

    {if="$error != ''"}
    <div class="alert alert-danger" role="alert">
    {$error}
    </div>
    {/if}

    <div class="container">
        {loop="$turma"}
        <!--<div class="row alert alert-primary">
            <div class="col-md-12">
                Turma selecionada! Selecione agora, logo abaixo, a pessoa que irá participar desta turma.
            </div>
        </div>
      -->

     {if="$error != ''"}
        {if="$value.idstatustemporada == 2 OR $value.idstatustemporada == 3 OR $value.idstatustemporada == 6"}
            <div class="alert alert-danger" style="text-align-last: center;">
                <a style="color: darkblue; text-align-last: center;" href="https://www.saobernardo.sp.gov.br/documents/1136654/1245027/Edital+NM/42aa453e-2d70-8651-96e5-41d2d779d24c">Resolução SESP Nº 004 de 28 de outubro de 2021. </a>
             </div>
        {/if}   
    {/if}



         
        <div class="row alert alert-primary"> 
           <!-- 
           <div class="col-md-3">
                <a href="/turma/{$value.idturma}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="{$value.desphoto}"></a>
            </div>
            -->                      

            <div class="col-md-6">
               TURMA: <span style="color: #cc5d1e;">{$value.idturma} - {$value.descativ} - {$value.periodo} </span> /
               <span class="amount"> 
                  LOCAL: {$value.apelidolocal} - {$value.rua}, Nº {$value.numero} - {$value.bairro} / 
               </span> 
               <span class="amount">
                  HORÁRIO: {$value.diasemana} - {$value.horainicio} às {$value.horatermino} / 
               </span> 
               <span class="amount">
                 {if="$value.fimidade == 99"} 
               Para nascidos somente até {$anoAtual - $value.initidade} <br>
              {else}
              Para nascidos somente entre: {$anoAtual - $value.fimidade} à {$anoAtual - $value.initidade}<br>
              {/if}
              </span> 
               <span class="amount">
                  PROFESSOR: {$value.apelidoperson}
               </span> 
                <span class="amount">
                   <br> <br><a title="Remove this item" class="remove" href="/cart/{$value.idturma}/remove"> REMOVER <p style="color: green">(Remover esta, selecionar outra turma)</p></a>
               </span>  

               <input type="text" name="idturma" hidden="" value="{$value.idturma}">
               <input type="text" name="idtemporada" hidden="" value="{$value.idtemporada}">  
               <input type="text" name="initidade" hidden="" value="{$value.initidade}">
               <input type="text" name="fimidade" hidden="" value="{$value.fimidade}">  
               <input type="text" name="idlocal" hidden="" value="{$value.idlocal}">                      
               <input type="text" name="apelidolocal" hidden="" value="{$value.apelidolocal}">
               <input type="text" name="sexo" hidden="" value="{$value.geneativ}"> 
               <input type="text" name="tipoativ" hidden="" value="{$value.tipoativ}">    
               <input type="text" name="idmodal" hidden="" value="{$value.idmodal}">                   
            </div>

            <div class="col-md-6">
                <div class="">
                    <div class="">

                        <h5>SELECIONE A PESSOA</h5>
                    
                        <div class="">

                            {if="$msgError != ''"}
                            <div class="alert alert-danger alert-dismissible" style="margin:10px">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p>{$msgError}</p>
                            </div>
                            {/if}
                            {if="$msgSuccess != ''"}
                            <div class="alert alert-success alert-dismissible" style="margin:10px">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p>{$msgSuccess}</p>
                            </div>
                            {/if}
                            <!-- form start -->    
                            <!--                       
                            <div class="box-body">                                                               
                                <select class="form-control" name="idpess" id="link"  onchange="changeFunc(value);">
                                    <option selected="selected" value="0">
                                        Selecione uma pessoa
                                    </option>

                                    {if="$pessoa"}
                                    <option value="pessoa-create">
                                        CADASTRAR UMA NOVA PESSOA
                                    </option>
                                    {/if}                                    
                                    {loop="$pessoa"}   
                                    <option {if="$value.iduser === $user.iduser"}{/if} value="{$value.idpess}">{$value.nomepess}; {function="calcularIdade($value.dtnasc)"} anos
                                    </option>

                                    {else}
                                    <option value="0">
                                        Não há pessoas cadastradas
                                    </option>
                                    <option value="pessoa-create">
                                        CADASTRAR UMA NOVA PESSOA
                                    </option>
                                    {/loop}
                                </select>
                                 </div>
                                -->

                                <div class="box-body">
                                    {loop="$pessoa"}
                                    <p>
                                    <input type="radio" name="idpess" value="{$value.idpess}"> 
                                    {$value.nomepess}; {function="calcularIdade($value.dtnasc)"} anos; 
                                    </p>                                
                                    {else}
                                    <p>
                                         Não há pessoas cadastradas
                                    </p>                                   
                                       
                                    {/loop}
                                    
                                    <p>
                                       <a href="/login">  CADASTRAR UMA NOVA PESSOA </a>
                                    </p>
                                </div>
                            
                        </div>
                            <!-- /.box-body -->
                        <div class="box-footer">                                           
                               
                        </div>

                       {if="$value.token == 1"}
                        <input type="text" name="token" value="" placeholder="Insira aqui o TOKEN"/>
                       {/if}
                           
                       <!-- </form> -->
                      

                      
                        <div>&nbsp;</div>
                        <input type="submit" value="Confirmar Inscrição" id="pessoa" class="button alt" formaction="/cart" formmethod="post">
                    </div>
                </div> 
            </div>
             
        </div>
         
        {else}
        <div class="row">
            <div class="col-md-12 alert alert-info" style="text-align-last: center; font-weight: bold">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clique em uma das opções abaixo para selecionar uma turma</span>                            
            </div>
            
        </div>

  <div class="row" style="">
    <div class="col-md-6 alert" style="text-align-last: center; background-color: #0f71b3; border: solid 5px; border-color: white;  border-radius: 25px;  padding-left: 0px ">
       <a class="btn" href="/locais" style="color: white; font-weight: bold;">Turmas por LOCAL (Crec)
       </a>
    </div>
    <div class="col-md-6 alert" style="text-align-last: center; background-color: #cc5d1e; border: solid 5px; border-color: white; border-radius: 25px;  padding-left: 0px">
       <a class="btn" href="/modalidades" style="color: white; font-weight: bold" >Turmas por MODALIDADE
       </a>
    </div>
    
  </div>
  {/loop}
</div>                             
                         
</form>
 </div> <!-- final da index -->


            
                        
                




                                                                
                           