
  <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->
              <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">
  
    <form action="/checkout" class="checkout" method="post" name="checkout">
        <div id="container">
            <div class="row">
                <div class="col-md-12">

                    {if="$error != ''"}
                    <div class="alert alert-danger">
                    {$error}
                    </div>
                    {/if}                    

                     <h3 id="order_review_heading" style="margin-top:30px;">Detalhes da Inscrição</h3>
                
                      
                    <div class="row">
                        <div class="col-md-12 alert alert-primary" style="text-align-last: left; ">
                           <h5 style="font-weight: bold; padding-top: 10px">Nome do aluno: {$pessoa.nomepess} -  {function="calcularIdade($pessoa.dtnasc)"} anos </h5>
                         
                        </div>
                    </div>                    

                    {loop="$turma"}
                    <div class="row" style="padding-top: 0px">
                        <div class="col-md-3" style="padding-top: 10px">
                           <strong>Turma / Temporada: </strong>
                       </div>
                       <div class="col-md-9 alert alert-success">
                            <strong>{$value.descativ} {$value.desctemporada} {$value.periodo}  ({$value.numinscritos} inscritos para {$value.vagas} vagas)</strong><hr>
                            
                            {$value.descrfxetaria} de {$value.initidade} a {$value.fimidade} anos,
                            com o professor {$value.apelidoperson}, 
                            no {$value.apelidolocal} - {$value.rua} - Nº {$value.numero} - bairro {$value.bairro} - {$value.cidade}
                            <input type="hidden" name="idtemporada" value="{$value.idtemporada}">
                            <input type="hidden" name="idturma" value="{$value.idturma}">

                        </div>
                        {if="$value.idstatustemporada == 5"}
                        <div class="col-md-3" style="padding-top: 10px">
                            <strong>Inscrição com Laudo?</strong>
                        </div>
                        <div class="col-md-9 alert alert-success">
                            <div class="checkbox">
                                <label>
                                <input type="radio" name="laudo" value="1"> Sim
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <label>
                                <input type="radio" name="laudo" value="0"> Não
                                </label>
                            </div>
                        </div> 
                        {/if}       
            
                    </div>
                    <div class="row" style="padding-top: 0px;">
                        <div class="col-md-12 alert-primary" style="text-align-last: left; padding-top: 10px; padding-bottom: 10px;">
                            Ao clicar no botão <strong>FINALIZAR</strong> você está ciente...<br>
                             - Que inscreve o(a) <strong>{$pessoa.nomepess}</strong> na turma de <strong> {$value.descativ}</strong>;<br>
                             - Que esta inscrição NÃO GARANTE vaga na respectiva turma<br>
                             - Que leu e concorda com os <a href="#">Termos de Uso e  Responsabilidade</a>; <br>
                             - Que está ciente que a INSCRIÇÃO, para o respectivo curso esportivo, está sujeito a <strong>SORTEIO</strong>, caso a quantidade de inscritos supere o número de vagas;<br>
                             - Que deverá confirmar a matrícula, se sorteado,<strong> PRESENCIALMENTE, </strong>a partir do dia <strong>{function="formatDate($value.dtinicmatricula)"}</strong> ao <strong>{function="formatDate($value.dttermmatricula)"}</strong>, no horário da aula.<br>

                            <div class="col-md-12" style="text-align-last: center; padding-top: 10px;">
                                <input type="radio" name="ciente"><label style="color: red;">&nbsp; Estou ciente</label>
                                <input type="submit" data-value="Place order" value="Finalizar" id="place_order" name="insc" class="button alt" >                     
                            </div>                             
                        </div>

                    </div>                  
                    {else} 
                        
                    <div class="row" style="padding-top: 0px">                   
                       <div class="col-md-12 alert alert-danger" style="text-align-last: center; padding: 15px">
                           <strong>Não há turma para confirmar</strong>
                       </div>
                    </div>
                    {/loop}

                    {loop="$turma"}
                    {else}
                    <div class="row" style="padding-top: 0px">                   
                        <div class="col-md-12 alert alert-success" style="text-align-last: center; padding: 15px">
                            <strong class="product-name"><a href="/cart">Encontrar uma turma</a></strong>
                        </div>
                    </div>
                    {/loop}
                </div>
            </div>
        </div>
    
</form>
</div> <!-- final da index -->






                                                        
                   