
   
    <form action="/checkout" class="checkout" method="post" name="checkout">
        <div id="container">
            <div class="row">
                <div class="col-md-12">

                    {if="$error != ''"}
                    <div class="alert alert-danger">
                    {$error}
                    </div>
                    {/if}

                     <h3 id="order_review_heading" style="margin-top:30px;">Detalhes da Inscrição</h3>
                
                      
                    <div class="row">
                        <div class="col-md-12 alert alert-primary" style="text-align-last: center; ">
                           <h5 style="font-weight: bold; padding-top: 10px">Nome do aluno: {$pessoa.nomepess} -  {function="calcularIdade($pessoa.dtnasc)"} anos </h5>
                         
                        </div>
                    </div>                    

                    {loop="$turma"}
                    <div class="row" style="padding-top: 0px">
                        <div class="col-md-3" style="padding-top: 10px">
                           <strong>Turma / Temporada: </strong>
                       </div>
                       <div class="col-md-9 alert alert-success">
                            <strong>{$value.descativ} {$value.desctemporada} {$value.periodo}  ( {$value.numinscritos} inscritos para {$value.vagas} vagas )</strong><hr>
                            
                            {$value.descrfxetaria} de {$value.initidade} a {$value.fimidade} anos,
                            com o professor {$value.desperson}, 
                            no {$value.apelidolocal} - {$value.rua} - Nº {$value.numero} - bairro {$value.bairro} - {$value.cidade}
                            <input type="hidden" name="idtemporada" value="{$value.idtemporada}">
                            <input type="hidden" name="idturma" value="{$value.idturma}">

                        </div>
                    </div>
                    <div class="row" style="padding-top: 0px">
                         <div class="col-md-12 alert-primary" style="text-align-last: left; padding-top: 10px;">
                            Ao clicar no botão <strong>FINALIZAR</strong> você confirma...<br>
                             - Que inscreve o(a) <strong>{$pessoa.nomepess}</strong> na turma <strong> {$value.descativ}</strong>;<br>
                             - Que leu e concorda com os <a href="#">Termos de Responsabilidade</a>; <br>
                             - Que está ciente que a matrícula da pessoa, para o respectivo curso esportivo, está sujeito ao sorteio que acontecerá no dia <strong>{function="formatDate($value.dtterminscricao)"}</strong>, caso a quantidade de inscritos supere o número de vagas;<br>
                             - Que deverá confirmar a matrícula do(a) <strong>{$pessoa.nomepess}</strong> a partir do dia <strong>{function="formatDate($value.dtinicmatricula)"}</strong> ao <strong>{function="formatDate($value.dttermmatricula)"}</strong>;<br>
                             
                           
                         </div>
                    </div>                  
                    <div class="row" style="padding-top: 0px">
                         <div class="col-md-12" style="text-align-last: center; padding-top: 10px;">
                           <input type="submit" data-value="Place order" value="Finalizar" id="place_order" name="insc" class="button alt" >                     
                         </div>
                    </div>                  

                    {else} 
                        
                    <div class="row" style="padding-top: 0px">                   
                       <div class="col-md-12 alert alert-danger" style="text-align-last: center; padding: 15px">
                           <strong>Não há turma para confirmar</strong>
                       </div>
                    </div>
                    {/loop}

                    {loop="$turma"}
                    {else}
                    <div class="row" style="padding-top: 0px">                   
                        <div class="col-md-12 alert alert-success" style="text-align-last: center; padding: 15px">
                            <strong class="product-name"><a href="/cart">Encontrar uma turma</a></strong>
                        </div>
                    </div>
                    {/loop}
                </div>
            </div>
        </div>
    
</form>





                                                        
                   