
     <div class="container"> <!-- container 1 -->
                <div class="row"> <!-- row 2 -->
                  <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 5px 0px 0px 0px;">

    <div class="container">
        <div class="row" style="padding-bottom: 5px">
        
            <div class="col-md-12">
                     <div>
                         <label>
                            <p>Endereço dos locais onde acontecem o Projeto Craques do Futuro.</p>
                        </label>
                     </div>                 

                    <a href="/../res/site/arquivos-pdfs/enderecocraques.pdf">pdf</a>

                    <div style="color: blue; text-align: left;">
                        <label style="color: darkblue;">
                            <span style="font-weight: bold;">
                               <a href="https://maps.app.goo.gl/czKymCcEnSLQf2mZ9">11 UNIDOS </a><br> 
                               Endereço: Rua Oneda, – Jd. Calux - Cep: 09895-280 - SBC
                            </span>       
                            
                        </label> 
                    </div> 
                    <br>
                    <div style="color: blue; text-align: left;">
                        <label style="color: darkblue;">
                            <span style="font-weight: bold;">
                               <a href="https://maps.app.goo.gl/p6pRBFSF3my7hr5">  ACAFF - Academia de Futebol Feminino</a><br> 
                               Endereço: Rua Bauru, 20 – Baeta Neves - Cep: 09751-440 - SBC
                            </span>       
                            
                        </label> 
                    </div>   

                    

                    <div style="color: blue; text-align: left;">
                        <label>
                            <p>
                            <a href="/" style="">  Voltar ao início </a>
                            </p>
                        </label> 
                    </div> 
            </div>
        </div>
    </div>
    

        </div>    
    </div>     

   

    </div> <!-- final da index -->    

    <hr style="color: orange;">           


