
     <div class="container"> <!-- container 1 -->
                <div class="row"> <!-- row 2 -->
                  <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 5px 0px 0px 0px;">

    <div class="container">
        <div class="row" style="padding-bottom: 5px">
        
            <div class="col-md-12">
                     <div>
                         <label>
                            <p>Endereço dos nossos Centros Esportivos.</p>
                        </label>
                     </div>                 

                    {loop="$locais"}

                    <div style="color: blue; text-align: left;">
                        <label style="color: darkblue;">
                            <span style="font-weight: bold;">
                               {$value.apelidolocal}<br>
                            </span>
                            {$value.nomelocal}<br>
                            Endereço: {$value.rua}, {$value.numero} – {$value.bairro}.<br>
                            Telefone: {$value.telefone}
                        </label> 
                    </div>  

                    {/loop}

                    <div style="color: blue; text-align: left;">
                        <label>
                            <p>
                            <a href="/" style="">  Voltar ao início </a>
                            </p>
                        </label> 
                    </div> 
            </div>
        </div>
    </div>
    

        </div>    
    </div>     

   

    </div> <!-- final da index -->    

    <hr style="color: orange;">           


