          </div> <!-- final da index -->

              <div class="col-md-4" style="text-align-last: center; background-color: white; margin: 0px 0px 15px 0px ">

                <div class="container">
                  <div class="row estruturaAcessos">

                     <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #0f71b3; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                          <i class="fas fa-walking"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-style: normal; margin: 5px; ">
                         Eventos Esportivos
                      </div>
                    </div>     

                     <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #909090; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                         <i class="fas fa-swimmer"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-style: normal; margin: 5px; ">

                         Cursos Esportivos

                      </div>
                    </div> 
                    <a href="/modalidades">    
                    <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #cc5d1e; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                         <i class="fas fa-trophy"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-style: normal; margin: 5px; ">
                                               
                         Modalidades
                      </div></a>
                    </div> 

                    <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #15a03f; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                         <i class="fas fa-futbol"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-style: normal; margin: 5px; ">
                                               
                         Campos de Futebol
                      </div>
                    </div> 
                    <a href="/locais">        
                    <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #ce2c3e; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                      
                         <i class="fas fa-warehouse"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-style: normal; margin: 5px; ">
                                               
                         Crec's
                      </div>
                      </a>
                    </div>     
                    <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #0f71b3; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                      
                         <i class="fas fa-bicycle"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-style: normal; margin: 5px; ">
                                               
                         Lazer
                      </div>
                    </div>     
                    <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #909090; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                      
                         <i class="fas fa-handshake"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-style: normal; margin: 5px; ">
                                               
                         Parceiros
                      </div>
                    </div>     
                    <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #cc5d1e; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                      
                         <i class="fas fa-user-plus"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-family: 'Open Sans'; f ">                         
                         Melhor Idade
                      </div>
                    </div>     
                    <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: #15a03f; margin: 15px 0px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center;">
                      <div style="text-align-last: center; font-weight: 900; font-size: 60px; color: white; margin: 5px;">
                      
                         <i class="fas fa-map-marker-alt"></i>
                      </div>
                      <div style="text-align-last: center; font-weight: 600; line-height: 20px; color: white; font-size: 14px; font-style: normal; margin: 5px; ">
                                               
                         Mapas
                      </div>
                    </div>         
                    
                    
                  </div>
                </div>

              </div>

            </div> <!-- row 2 -->
          </div>  <!-- container  1 -->
            
    </section> 

    <footer>    
      
        <div class="container">
          <div class="row">

            <div class="col-md-12" col-sm-1 style="text-align-last: center; background-color: #0f71b3;">
              <div style="text-align-last: center; font-weight: 600; font-size: 14px; color: white; margin: 5px;"> 
                <p> Secretaria de Esportes - Prefeitura de São Bernardo do Campo<br> Secretário: ALEX MOGNON<br> Av. Kennedy, 1155 - Bairro Anchieta - 09726-263 - Tel.: 11 2630-7466 </p> 
              </div> 
            </div>                                                                           
                        
          </div>
        </div>

    </footer>             
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/../res/site/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  </body>
</html>


