

    <script>
        alert('Lembramos que ao fazer seu agendamento, você está ciente da necessidade de se apresentar em nossas piscinas, no dia agendado para nadar, com sunga (para os homens) maiô (para as mulheres) e touca de natação')

        alert('LEMBRAMOS AINDA, que você, no dia e hora agendado para nadar em nossas piscinas, deverá apresentar o ATESTADO CLÍNICO e o ATESTADO DERMATOLÓGICO. Caso contrário não poderá acessar as piscinas!')
    </script>
     <div class="container"> <!-- container 1 -->
                <div class="row"> <!-- row 2 -->
                  <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 5px 0px 50px 0px;">

    <div class="container">
        <div class="row" style="padding-bottom: 5px">
            <div class="col-md-12">
                    
                {if="$error != ''"}
                <div class="alert alert-danger">
                {$error}
                </div>
                {/if}
            </div>            


        
            <div class="col-md-12">   
                
                <form action="/horaagendada" method="post"> 
                	<div style="color: blue; text-align: left;">
                		<label>
                    		DADOS PARA O AGENDAMENTO DA NATAÇÃO ESPONTÂNEA
                        </label> 
                    </div>
                    <div style="text-align: center; color: blue; font-weight: bold;">
                        <label>
                        	Nome: {$nomepess} 
                        </label>                        
                    </div>
                    <div style="color: blue; text-align: center; font-weight: bold;">
                        <label>                        	
                        Data: {function="formatDate($dataPost)"}
                         </label> 
                         <br>
                         <label>                            
                        {$nomeDiaSemana} - {$horarioinicial} ás {$horariofinal}
                         </label> 
                        
                        
                    </div>


                        <input type="text" name="dataPost" value="{$dataPost}" style="display: none;">    
                        <input type="text" name="titulo" value="{$titulo}" style="display: none;">
                        <input type="text" name="idpess" value="{$idpess}" style="display: none;"> 
                        <input type="text" name="ispresente" value="{$ispresente}" style="display: none;">
                        <input type="text" name="idlocal" value="{$idlocal}" style="display: none;"> 
                         <input type="text" name="nomediasemana" value="{$nomeDiaSemana}" style="display: none;"> 
                         <input type="text" name="horarioinicial" value="{$horarioinicial}" style="display: none;">
                         <input type="text" name="idhoradiasemana" value="{$idhoradiasemana}" style="display: none;"> 
                         <input type="text" name="horariofinal" value="{$horariofinal}" style="display: none;"> 
                         <input type="text" name="dataSemSemana" value="{$dataSemSemana}" style="display: none;"> 

                       
                                               
                    <div style="color: blue;">
                        <label>
                        Confirme seus dados, a data escolhida, o horário e clique no botão "ENVIAR".
                        </label> 
                    </div>
                    
                    <div class="row" style="padding-top: 0px;">
                        <div class="col-md-12 alert-primary" style="text-align-last: left; padding-top: 5px; margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; font-size: 12px;">
                            
                            {if="calcularIdade($dtnasc) < 18"}       
                            
                                <strong style="color: red">Você está agendando a natação espontânea para uma pessoa menor de idade, então:</strong>   <br>                     

                              Ao clicar no botão <strong>ENVIAR</strong> você <strong>declara</strong> a precisão das informações prestadas neste site, assim como que o(a) menor, da qual você é responsável, <strong>se encontra APTO(A)</strong> a prática de ATIVIDADES FÍSICAS, isentando o professor e a Secretaria de Esportes e Lazer do Município de São Bernardo do Campo de qualquer responsabilidade. Declaro ainda estar Ciente do Art. 5º da Lei 10.848/2001 que trata da obrigatoriedade da apresentação de <strong>ATESTADO MÉDICO.</strong> Declara ainda que autoriza a divulgação de eventuais imagens registradas em momentos de aula espontânea para arquivo e divulgação institucional<br>  

                             {else}

                              Ao clicar no botão <strong>ENVIAR</strong> você <strong>declara</strong> a precisão das infromações prestadas neste site, assim como que <strong>se encontra APTO(A)</strong> a prática de ATIVIDADES FÍSICAS, isentando o professor e a Secretaria de Esportes e Lazer do Município de São Bernardo do Campo de qualquer responsabilidade. Declaro ainda estar Ciente do Art. 5º da Lei 10.848/2001 que trata da obrigatoriedade da apresentação de <strong>ATESTADO MÉDICO.</strong> Declara ainda que autoriza a divulgação de eventuais imagens registradas em momentos de aula espontânea para arquivo e divulgação institucional<br>  

                             {/if} 

                        </div>
                    </div>  
                                                          	                                           	                       
                    
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-12" style="margin-top: 10px; text-align-last: center">
                    <input style="width: 100%; float: right; background-color: #15a03f;" type="submit" class="btn">
                </div> 
                <div class="col-md-12" style="margin-top: 10px; text-align-last: center">

                        <a class="btn" style="width: 100%; float: right; background-color: #ce2c3e;  text-decoration: none; color: white;" href="javascript:window.history.go(-1)" text-decoration="none">Voltar
                        </a>
                       
                </div>                  
            </div>
    </div>
    </form>

        </div>    
    </div>     

    </div> <!-- final da index -->               


