<div class="container" style="margin: 0px px 0px 0px; ">
  <div class="row" style="margin: -5px -20px 0px -5px; ">

   
  <div class="col-md-4" style="text-align-last: left; background-color: #ce2c3e; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">  
    <a href="/locais">                          
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 0px; ">                                               
          Turmas por local
      </div>
    </a>
  </div>

  
  <div class="col-md-4" style="text-align-last: left; background-color: #cc5d1e; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;"> 
    <a href="/modalidades">           
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 5px; ">                                               
          Turmas por moodalidades
      </div>
    </a>
  </div> 

  <div class="col-md-4" style="text-align-last: left; background-color: #15a03f; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">
    <a href="/">    
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 0px 5px;  ">                                               
          Todas turmas
      </div>
    </a>
  </div>   


  </div>
</div>

{loop="$turma"}

    <div class="container"> <!-- container 3 -->
      <div class="row"> <!-- row 4 -->        
        <!--
        <div class="col-md-4 col-sm-12" style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px"><a href="/turma/{$value.idturma}/{$value.idtemporada}">           
            <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="{$value.desphoto}" alt="Photo"></a>            
        </div>
        --> 
        <div class="col-md-12"style="text-align-last: left; line-height: 20px;  font-size: 14px; font-style: normal; margin: 5px 0px 20px 0px"><a href="/turma/{$value.idturma}/{$value.idtemporada}" style="text-decoration: none">
          <h5 style="color: #000000"> 
            <span style="font-weight: bold;">
              {$value.idturma} - {$value.descativ}; 
            </span><br>
              Local da aula: {$value.apelidolocal};<br>
              {$value.diasemana} das {$value.horainicio} às {$value.horatermino} - 
              Professor(a): {$value.apelidoperson} <br>
              Turma {$value.desstatus} - Tempporada: {$value.desctemporada}<br>
              Número atual de inscritos: {$value.numinscritos} <br>
          </h5></a>
          
            <a class="btn btn-info" style="background-color: #cc5d1e"  href="/turma/{$value.idturma}/{$value.idtemporada}">Inscrever-se</a>
          
        </div>
      </div> <!-- row 4 -->
    </div> <!-- container 3 -->

{else}
<div class="container"> <!-- container 3 -->
    <div class="row"> <!-- row 4 -->                        
        <div class="col-md-12"style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px">
                <h2>Temporada  <br> não iniciada ): </h2>                               
                <h1>Lo_| _Aguarde  </h1>
                <h1>Em breve \o/ </h1>                              
                <h1>Novidades :) </h1>
          </div> 
    </div> <!-- row 4 -->
  </div> <!-- container 3 -->                             
  {/loop}
