<div class="container">
  <div class="row" style="">
    <div class="col-md-4" style="text-align: center; background-color: #ce2c3e; border: solid 5px; border-color: white;  border-radius: 25px;  padding-left: 0px ">
       <a class="btn" href="/locais" style="color: white; font-weight: bold;">Turmas por LOCAL (Crec)
       </a>
    </div>
    <div class="col-md-4 alert" style="text-align: center; background-color: #cc5d1e; border: solid 5px; border-color: white; border-radius: 25px;  padding-left: 0px">
       <a class="btn" href="/modalidades" style="color: white; font-weight: bold" >Turmas por MODALIDADE
       </a>
    </div>
    <div class="col-md-4 alert" style="text-align: center; background-color: #15a03f; border: solid 5px; border-color: white; border-radius: 25px;  padding-left: 0px;">
       <a class="btn" href="/" style="color: white; font-weight: bold; ">Todas turmas
       </a>
    </div>  
  </div>
</div>

{loop="$turma"}

    <div class="container"> <!-- container 3 -->
      <div class="row"> <!-- row 4 -->        
        <div class="col-md-4 col-sm-12" style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px"><a href="/turma/{$value.idturma}/{$value.idtemporada}">           
            <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="{$value.desphoto}" alt="Photo"></a>            
        </div> 
        <div class="col-md-8"style="text-align-last: left; line-height: 20px;  font-size: 14px; font-style: normal; margin: 5px 0px 20px 0px"><a href="/turma/{$value.idturma}/{$value.idtemporada}" style="text-decoration: none">
          <h5 style="color: #000000"> 
            <span style="font-weight: bold;">
              {$value.idturma} - {$value.descativ}; 
            </span><br>
              Local da aula: {$value.apelidolocal};<br>
              {$value.diasemana} das {$value.horainicio} às {$value.horatermino}<br>
              Professor(a): {$value.apelidoperson} <br>
              Turma {$value.desstatus} - {$value.desctemporada}<br>
          </h5></a>
          
            <a class="btn btn-info" style="background-color: #cc5d1e"  href="/turma/{$value.idturma}/{$value.idtemporada}">Inscrever-se</a>
          
        </div>
      </div> <!-- row 4 -->
    </div> <!-- container 3 -->

{else}
<div class="container"> <!-- container 3 -->
    <div class="row"> <!-- row 4 -->                        
        <div class="col-md-12"style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px">
                <h2>Temporada  <br> não iniciada ): </h2>                               
                <h1>Lo_| _Aguarde  </h1>
                <h1>Em breve \o/ </h1>                              
                <h1>Novidades :) </h1>
          </div> 
    </div> <!-- row 4 -->
  </div> <!-- container 3 -->                             
  {/loop}
