
          <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->

              <div class="col-md-8 col-sm-1" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">

                {loop="$locais"}
                <a href="/local/{$value.idlocal}">
                    <div class="container"> <!-- container 3 -->
                      <div class="row"> <!-- row 4 -->
                        
                             <!-- <div class="col-md-4" col-sm-1 style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px">
                                <table>
                                  <tr>
                                   <td>

                                      <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="" alt="Foto">

                                   </td>
                                  </tr>
                                </table>
                              </div> -->                             
                        
                              <div class="col-md-12"style="text-align-last: left; line-height: 20px;  font-size: 20px; font-style: normal; margin: 5px 0px 20px 0px">

                                <table>
                                  <tr>
                                    <td>
                                     
                                        <h5 style="color: #000000"><span style="font-weight: bold">{$value.apelidolocal}</span><br>
                                        {$value.nomelocal}<br>
                                        Endereço: {$value.rua}, 
                                        {$value.numero} - 
                                        {$value.bairro}<br>
                                        Cep: {$value.cep}<br>
                                        Telefone: {$value.telefone}<br></h5>

                                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/local/{$value.idlocal}" text-decoration="underline overline wavy blue">Cursos dísponíveis</a>
                                    </td>   
                                  </tr>
                                </table>

                              </div>                        
                      </div> <!-- row 4 -->
                    </div> <!-- container 3 -->
                </a>
                {/loop}

              </div>

