
 <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->
              <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">

<div class="container" style="margin: 0px 0px 0px 0px; ">
  <div class="row">   


    {if="$error != ''"}
    <div class="alert alert-danger">
      {$error}
    </div>
  
    {else}
  
  <div class="col-md-12" style="text-align-last: left; background-color:#0f71b3; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;"> 
    <a href="/locais">           
      <div style="text-align-last: center; font-weight: bold; line-height: 30px; color: white; font-size: 14sx; font-style: normal; margin: 10px 5px 10px 5px; ">                                               
          Selecione aqui um CREC / LOCAL, escolha a atividade e faça sua inscrição.
      </div>
    </a>
  </div> 
  {/if}

  </div>
</div>
<hr style="background-color: orange;">

{loop="$locais"}
<a href="/modalidades/local/{$value.idlocal}" style="text-decoration: none">
  <div class="container"> <!-- container 3 -->
    <div class="row"> <!-- row 4 -->
      
           <!-- <div class="col-md-4" col-sm-1 style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px">
              

                    <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="" alt="Foto">

                 
            </div> -->                             
      
            <div class="col-md-12" style="text-align-last: left; line-height: 20px;  font-size: 20px; font-style: normal; margin: 5px 0px 0px 0px">

                   
                      <h5 style="color: #000000">
                        <span style="font-weight: bold">
                          {$value.apelidolocal} -
                        </span> 
                          {$value.nomelocal} - 
                          Endereço: {$value.rua}, {$value.numero} - 
                          {$value.bairro} - 
                          Cep: {$value.cep} - 
                          Telefone: {$value.telefone}
                      </h5>

                    <a href="/modalidades/local/{$value.idlocal}" class="btn" style="background-color: #0f71b3; color: white; width: 100%; text-align-last: center;" >Cursos dísponíveis</a>                                   

            </div>                        
    </div> <!-- row 4 -->
  </div> <!-- container 3 -->
</a>
<hr style="background-color: orange;">
{/loop}
<div class="row" style="margin: -5px -5px -5px -5px; padding-top: 20px; ">    
  <div class="col-md-12" style="text-align-last: left; background-color: #cc5d1e; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;"> 
    <a href="/modalidades">           
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 5px; ">                                               
          Turmas por modalidades
      </div>
    </a>
  </div> 
</div> <!-- final da index -->


