<script type="text/javascript">
  
    function alertToken(){


      alert("Conforme Resolução SESP Nº 004 de 28/10/2021 Art.7º, Os interessados em participar das turmas de inclusão para Pessoas com Deficiência (PCD) e/ou laudo médico do CREEBA, deverão comparecer pessoalmente (interessado ou representante legal) no Centro Esportivo do Jardim Lavínia, sito à Av. Capitão Casa - 1.500, no horário das 08:30 às 11:30 e das 13:30 às 16:30, nos dias úteis de terça a sexta-feira até o dia 03/12/2021.")
    }

</script>


<div class="container" style="margin-top: 0px;"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->
              <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 0px 0px 50px 0px;">

<div class="container" style="margin: 0px px 0px 0px; ">

<div class="container">

   <div class="row" style="margin: -5px -5px -5px -5px; ">   
  <div class="col-md-12" style="text-align-last: left; background-color: #0f71b3; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">  
   
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 0px; ">                                               
         <span style="font-weight: bold; font-size: 20px;">{$local.apelidolocal} </span>
      </div>
   
  </div>
</div> 

</div>      
  {loop="$turma"}

  <div class="container"> <!-- container 3 -->
  <div class="row"> <!-- row 4 -->  
  <!--    
    <div class="col-md-4" style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px"><a href="/turma/{$value.idturma}/{$value.idtemporada}">           
      <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="{$value.desphoto}" alt="Photo"></a>            
    </div> 
  -->
    <div class="col-md-12"style="text-align-last: left; line-height: 20px;  font-size: 14px; font-style: normal; margin: 5px 0px 20px 0px">

      <!--
          <a href="/turma/{$value.idturma}/{$value.idtemporada}" style="text-decoration: none">  
          -->
          <a href="/cart/{$value.idturma}/{$value.idtemporada}/add" style="text-decoration: none">     
      <h5 style="color: #000000"> 
            <span style="font-weight: bold;">
              {if="$value.idstatustemporada == 3"} 
              [ <span style="font-weight: bold; font-size: 14px; color: darkorange;">
              {$value.descstatustemporada}  </span>]
              {/if}            
                {$value.descturma}               
            </span><br>
            <span style="color: darkgreen; font-size: 16px">
                [{$value.idturma}] - {$value.descativ}
            </span><br>
             
              {$value.diasemana} das {$value.horainicio} às {$value.horatermino} <br>  
               Local da aula: {$value.apelidolocal}<br>             
              Temporada: {$value.desctemporada} <br>

               {if="$value.fimidade == 99"} 
               Para nascidos até {$anoAtual - $value.initidade} <br>
              {else}
              Para nascidos entre: {$anoAtual - $value.fimidade} e {$anoAtual - $value.initidade}<br>
              {/if}
              
              {if="$value.idstatustemporada == 2"} 
               <span style="font-weight: bold;">
              {$value.vagas} vagas<br>
              {/if}          

              {if="$value.idstatustemporada == 4"} 
               <span style="color: red;">
                {$value.descstatustemporada}
              </span> <br> 
               <span style="font-weight: bold;">
              {$value.numinscritos} inscritos para {$value.vagas} vagas                          
              {/if}

              {if="$value.idstatustemporada == 6"} 
               <span style="color: red;">
                {$value.descstatustemporada}. <br>
                <span style="color: black;">Novas inscrições a partir de {function="formatDate($value.dttermmatricula)"}.</span>
              {/if}
              

              {if="$value.numinscritos > $value.vagas && $value.idstatustemporada == 4"} <br>
              </span> 
               <span style="color: orange;">
                Para esta turma terá sorteio de vagas<br>
              </span>              
              {/if}

              {if="$value.idstatustemporada == 5"}
                {if="$value.numinscritos < $value.vagas && $value.idstatustemporada == 5"} 

                   {if="$value.nummatriculados < $value.vagas && $value.idstatustemporada == 5"} 
                      <span style="color: darkgreen;">
                        <strong>Há vagas disponíveis</strong><br>
                      </span>
                   {/if}

                {else}
                
                   <span style="color: darkred;">
                    <strong>Não há vagas disponíveis.</strong><br>
                  </span>
                    <span>
                    Faça sua inscrição para a lista de espera<br>
                  </span>
                   <span>
                    Lista de espera com {$value.numinscritos - $value.vagas} pessoas<br>
                  </span>
                 
                {/if}
              {/if}                
            
          </h5>

        </a>

        {if="$value.token == 1"} 
          <h5><span style="color: darkblue;" >
            <strong>Necessário token</strong>&nbsp;             
          </span>
          <a href="#" onmousemove="alertToken()"><i class="fa fa-info-circle" style="font-size: 24px;"></i></h5></a>
        {/if} 

        {if="$value.idstatustemporada == 6"} 
        
        {else}
          {if="$value.idstatustemporada == 3"} 

            <h6 style="color: blue; font-weight: bold">Consulte as inscrições válidas para esta turma, <a href="/insc-turma-temporada-valida/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" >clicando aqui. </a></h6>

          {else}

          <a class="btn btn-info" style="background-color: #cc5d1e"  href="/cart/{$value.idturma}/{$value.idtemporada}/add">Inscrever-se</a>  
          {/if}
        {/if}       


    </div>
  </div> <!-- row 4 -->
</div> <!-- container 3 -->

  
  {/loop}   
  {if="$error != ''"}
   
<div class="container" >
  <div class="row">
    <div class="col-md-12 alert alert-info" style="font-size: 20px; text-align-last: center ">
       <span style="font-size: 20px; font-weight: bold;"> 
       {$error}
     </span>
    </div>     
  </div>
</div>
 {/if}
<div class="row" style="margin: -5px 10px -5px 10px; ">   
  
<div class="col-md-6" style="text-align-last: left; background-color: #0f71b3; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">  
    <a href="/locais">                          
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 0px; ">                                               
          Turmas por local
      </div>
    </a>
  </div>
  <div class="col-md-6" style="text-align-last: left; background-color: #cc5d1e; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;"> 
    <a href="/modalidades">           
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 5px; ">                                               
          Turmas por modalidades
      </div>
    </a>
  </div> 
  
<!--
  <div class="col-md-4" style="text-align-last: left; background-color: #909090; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">
    <a href="/">    
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 5px;  ">                                               
          Todas turmas
      </div>
    </a>
  </div>
  </div>
-->
</div>
 
 
  </div> <!-- final da index -->

