
{loop="$locais"}
<a href="/local/{$value.idlocal}" style="text-decoration: none">
  <div class="container"> <!-- container 3 -->
    <div class="row"> <!-- row 4 -->
      
           <!-- <div class="col-md-4" col-sm-1 style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px">
              

                    <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="" alt="Foto">

                 
            </div> -->                             
      
            <div class="col-md-12" style="text-align-last: left; line-height: 20px;  font-size: 20px; font-style: normal; margin: 5px 0px 20px 0px">

                   
                      <h5 style="color: #000000"><span style="font-weight: bold">{$value.apelidolocal}</span><br>
                      {$value.nomelocal}<br>
                      Endereço: {$value.rua}, 
                      {$value.numero} - 
                      {$value.bairro}<br>
                      Cep: {$value.cep}<br>
                      Telefone: {$value.telefone}<br></h5>

                    <a href="/local/{$value.idlocal}" class="btn" style="background-color: #0f71b3; color: white" >Cursos dísponíveis</a>                                   

            </div>                        
    </div> <!-- row 4 -->
  </div> <!-- container 3 -->
</a>
{/loop}


