
             <div class="container"> <!-- container 1 -->
                        <div class="row"> <!-- row 2 -->
                          <div class="col-md-12" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">
                      

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        {if="$error != ''"}
                        <div class="alert alert-danger">
                        {$error}
                        </div>
                        {/if}

                        {if="$profileMsg != ''"}
                        <div class="alert alert-success">
                        {$profileMsg}
                        </div>
                        {/if}

                    </div>




            </div>
           </div>
                <div class="container">
                <div class="row">
                    <div class="col-md-6">                    
                            
                        <form action="/login" id="register-form-wrap" class="login" method="post">
                            <h2>Acessar</h2>
                            <p>Não tem conta?&nbsp;&nbsp; <a href="/user-create">Cadastre-se!</a>   </p>                  
                            <p class="form-row form-row-first">
                                <label for="login">
                                    E-mail <span class="required">*</span>
                                </label>
                            <input type="text" id="login" name="login" class="input-text">
                            </p>
                            <p class="form-row form-row-last">
                                <label for="senha">
                                    Senha <span class="required">*</span>
                                </label>
                                <input type="password" id="senha" name="password" class="input-text">
                            </p>
                            <div class="clear"></div>
                            <p class="form-row">
                                <input type="submit" value="Login" class="button">                              
                            </p>

                            <p class="form-row">
                                <label class="inline" for="rememberme"><input type="checkbox" value="forever" id="rememberme" name="rememberme"> Manter conectado </label>
                            </p>
                            <p class="lost_password">
                                <a href="/forgot">Esqueceu a senha?</a>
                            </p>
                            <div class="clear"></div>
                        </form>  

                    </div>
                    
                </div>
            </div>
            </div> <!-- final da index -->

                                 


