
          <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->

              <div class="col-md-8 col-sm-1" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">

                {loop="$modalidades"}
                <a href="/modalidade/{$value.idmodal}">
                    <div class="container"> <!-- container 3 -->
                      <div class="row"> <!-- row 4 -->
                        
                             <!-- <div class="col-md-4" col-sm-1 style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px">
                                <table>
                                  <tr>
                                   <td>

                                      <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="" alt="Foto">

                                   </td>
                                  </tr>
                                </table>
                              </div> -->                             
                        
                              <div class="col-md-12"style="text-align-last: left; line-height: 20px;  font-size: 20px; font-style: normal; margin: 5px 0px 20px 0px">

                                <table>
                                  <tr>
                                    <td>
                                      <a style="color: #000" href="/modalidade/{$value.idmodal}">
                                        {$value.descmodal}<br>
                                        <a class="add_to_cart_button" data-quantity="1" style="background-color: #cc5d1e;" data-product_sku="" data-product_id="70" rel="nofollow" href="/modalidade/{$value.idmodal}" text-decoration="underline overline wavy blue">Cursos dísponíveis</a>

                                      </a> 
                                    </td>   
                                  </tr>
                                </table>

                              </div>                        
                      </div> <!-- row 4 -->
                    </div> <!-- container 3 -->
                </a>
                {/loop}

              </div>