<div class="container">
  <div class="row">
    <div class="col-md-12" style="font-size: 20px; text-align-last: center ">
       <span style="font-size: 20px;">Modalodade: </span><span style="font-weight: bold">{$modalidade.descmodal}</span><hr>
    </div>     
  </div>
</div>

{loop="$turma"}

<div class="container"> <!-- container 3 -->
  <div class="row"> <!-- row 4 -->        
    <div class="col-md-4 col-sm-12" style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px"><a href="/turma/{$value.idturma}/{$value.idtemporada}">           
      <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="{$value.desphoto}" alt="Photo"></a>            
    </div> 
    <div class="col-md-8"style="text-align-last: left; line-height: 20px;  font-size: 14px; font-style: normal; margin: 5px 0px 20px 0px"><a href="/turma/{$value.idturma}/{$value.idtemporada}" style="text-decoration: none">
      <h5 style="color: #000000"> 
        <span style="font-weight: bold;">
          {$value.idturma} - {$value.descativ}; 
        </span><br>
          Local da aula: {$value.apelidolocal};<br>
          {$value.diasemana} das {$value.horainicio} às {$value.horatermino}<br>
          Professor(a): {$value.desperson} <br>
           Turma {$value.desstatus} - {$value.desctemporada}<br>
      </h5></a>

        
        <a class="btn btn-info" style="background-color: #cc5d1e"  href="/turma/{$value.idturma}/{$value.idtemporada}">Inscrever-se</a>
          
    </div>
  </div> <!-- row 4 -->
</div> <!-- container 3 -->
{else}
<div class="container" >
  <div class="row">
    <div class="col-md-12 alert-danger" style="font-size: 20px; text-align-last: center ">
       <span style="font-size: 20px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nenhuma turma encontrada para esta modalidade.</span>
    </div>     
  </div>
  <div class="row" style="padding: 10px">
    <div class="col-md-12" style="font-size: 20px; text-align-last: center ">
       <a class="btn btn-success" href="/" >Encontre uma atividade aqui!</a>
    </div>     
  </div>
</div>


{/loop}     

