
<script type="text/javascript">

    function encerradas(){

        alert('As inscrições para o ano de 2022 estão encerradas! Para o ano de 2023 as inscrições começam a partir de 01/11/2022')
    }
  
    function alertTokenCreeba(){

      alert("Conforme Resolução SESP Nº 004 de 28/10/2021 Art.7º, Os interessados em participar das turmas de inclusão para Pessoas com Deficiência (PCD) e/ou laudo médico do CREEBA, deverão comparecer pessoalmente (interessado ou representante legal) no CREEBA.")
    }

    function alertTokenBaetao(){

      alert("Para fazer a inscrição nas turmas de natação intermediário, avançado e aperfeiçoamento para o ano de 2023 é necessário ser egresso das turmas do ano de 2022 e ter autorização fornecida pelo professor.")
    }

    function alertTokenPauliceia(){

      alert("Para fazer a inscrição nas turmas de natação intermediário, avançado e aperfeiçoamento para o ano de 2023 é necessário ser egresso das turmas do ano de 2022 e ter autorização fornecida pelo professor.")
    }

</script>
  <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->
              <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 0px 0px 0px 0px;">

<div class="container" style="margin: 0px px 0px 0px; ">
  
<div class="row">

    <div class="col-md-12" style="color: black; text-align: justify; font-size: 20px;">

      <div>
         ETAPA <span style="font-weight: bold;">3</span> de <span style="font-weight: bold;">5</span> 
      </div>

    </div>

    <div class="col-md-12" style="text-align-last: left; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; border-radius: 15px;"> 


    {if="$modalidade.idmodal == 38"}
        Para fazer a inscrição e matrícula na modalidade Karatê, você deve entrar em contato com o Sensei Guto através Whatsapp abaixo.
    {else}
    
        {if="$modalidade.idmodal == 39"}
             Para fazer a inscrição na modalidade Judô, Clique no link abaixo.
        
        {else}

            {if="checkLogin(false)"} 
      
                 <span style="color: black; font-weight: bold;">  {function="getUserName()"}</span>!<br>           
                                                             
                Nesta etapa, selecione abaixo uma turma para praticar a aula de <span style="font-weight: bold; font-size: 20px; color: orange;">{$modalidade.descmodal}</span> e faça a sua inscrição ou a inscrição de seu dependente.
      
            {else}      
               
          
                <a href="/user-create">             
                         CADASTRE-SE               
                </a> 
                 <span> ou faça o  </span>           
                <a href="/login" >                
                     LOGIN 
                </a>
                e nesta etapa selecione abaixo uma turma para praticar a aula de <span style="font-weight: bold; font-size: 20px; color: orange;">{$modalidade.descmodal}</span>, faça a sua inscrição ou a inscrição de seu dependente.
              
            {/if}
         {/if}
    {/if}

    </div>
 

  <!--

  <div class="col-md-12" style="text-align-last: left; background-color: #cc5d1e; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">  
   
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 0px; ">                                               
         <span style="font-weight: bold; font-size: 20px;">{$modalidade.descmodal}</span>
      </div>
   
  </div>

-->

<hr style="background-color: #0f71b3;">

</div>      

  {loop="$turma"}

  

  <div class="container"> <!-- container 3 -->
    <div class="row"> <!-- row 4 --> 
    
      <div class="col-md-12"style="text-align-last: left; line-height: 20px;  font-size: 14px; font-style: normal; margin: 5px 0px 20px 0px">

         <!--
          <a href="/turma/{$value.idturma}/{$value.idtemporada}" style="text-decoration: none">  
          -->
          {if="UserIsAdmin() OR UserIsProf()"}

              <a href="/cart/{$value.idturma}/{$value.idtemporada}/add" style="text-decoration: none"> 

              {else}

              <a onclick="encerradas()" href="#" style="text-decoration: none"> 

              {/if}
          

        <h5 style="color: #000000"> 
            <span style="font-weight: bold;">
              {if="$value.idstatustemporada == 3"} 
              [ <span style="font-weight: bold; font-size: 14px; color: darkorange;">
              {$value.descstatustemporada}  </span>]
              {/if}            
              {$value.descturma}   {$value.desctemporada}
            </span><br>
            <span style="color: darkgreen; font-size: 16px">
                [{$value.idturma}] - {$value.descativ}
            </span><br>
             
               <span style="font-size: 19px"> {$value.diasemana} das {$value.horainicio} às {$value.horatermino} </span> <br>  
               
               Local da aula: <strong>{$value.apelidolocal}</strong><br>             

               {if="$value.fimidade == 99"} 
               Para adultos nascidos até<strong> {$anoAtual - $value.initidade}</strong> <br>
              {else}
              Para nascidos entre:<strong> {$anoAtual - $value.fimidade} à {$anoAtual - $value.initidade}</strong><br>
              {/if}

              OBSERVAÇÃO: <strong>{$value.obs}</strong><br>

              {if="$value.idstatustemporada == 2"} 
               <span style="font-weight: bold;">
              {$value.vagas} vagas<br>
              {/if}

              {if="$value.idstatustemporada == 4"} 
               <span style="color: red;">
                {$value.descstatustemporada}
              </span> <br> 
               <span style="font-weight: bold;">
              {$value.numinscritos} inscritos para {$value.vagas} vagas                          
              {/if}

              {if="$value.idstatustemporada == 6"} 
               <span style="color: red;">
                {$value.descstatustemporada}. <br>
                <span style="color: black;">Novas inscrições a partir de {function="formatDate($value.dttermmatricula)"}.</span>
              {/if}
              

              {if="$value.numinscritos > $value.vagas && $value.idstatustemporada == 4"} <br>
              </span> 
               <span style="color: orange;">
                Para esta turma terá sorteio de vagas<br>
              </span>              
              {/if}

              {if="$value.idstatustemporada == 5"}
                {if="$value.numinscritos < $value.vagas && $value.idstatustemporada == 5"} 

                   {if="$value.nummatriculados < $value.vagas && $value.idstatustemporada == 5"} 
                       

                      <span style="color: green;">
                        {$value.numinscritos} inscritos para {$value.vagas} vagas                          
                      </span>


                   {/if}

                {else}
                
                   <span style="color: darkred;">
                    <strong>Não há vagas disponíveis.</strong><br>
                  </span>
                    <span>
                    Faça sua inscrição para a lista de espera<br>
                  </span>
                    <h6 style="color: blue; font-weight: bold">              
                     <a href="/insc-turma-temporada-listaespera/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">Acesse a lista de espera, clicando aqui.  </a>
                    </h6>
                {/if}
              {/if}                
            
          </h5>

        </a>

        {if="$value.token == 1"} 

            {if="$value.idlocal == 5"}

              <h5><span style="color: darkblue;" >
                <strong>Necessário token</strong>&nbsp;             
              </span>
              <a href="#" onmousemove="alertTokenCreeba()"><i class="fa fa-info-circle" style="font-size: 24px;"></i></h5></a>
            {/if}

            {if="$value.idlocal == 3"}

              <h5><span style="color: darkblue;" >
                <strong>Necessário token</strong>&nbsp;             
              </span>
              <a href="#" onmousemove="alertTokenBaetao()"><i class="fa fa-info-circle" style="font-size: 24px;"></i></h5></a>
            {/if}

            {if="$value.idlocal == 21"}

              <h5><span style="color: darkblue;" >
                <strong>Necessário token</strong>&nbsp;             
              </span>
              <a href="#" onmousemove="alertTokenPauliceia()"><i class="fa fa-info-circle" style="font-size: 24px;"></i></h5></a>
            {/if}

        {/if} 
          
        {if="$value.idstatustemporada == 6"} 
        
        {else}
          {if="$value.idstatustemporada == 3"} 

            <!--
            <h6 style="color: blue; font-weight: bold">
              Consulte as inscrições válidas para esta turma, 
              <a href="/insc-turma-temporada-valida/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" >clicando aqui. </a>
            </h6>
          -->

            <h6 style="color: blue; font-weight: bold">
              Acesse lista com o resultado final após o sorteio para esta turma,
             <a href="/insc-turma-temporada-classificadas/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">clicando aqui.  </a>
            </h6>
            
            

          {else}

              {if="UserIsAdmin() OR UserIsProf()"}

              <a class="btn btn-info" style="background-color: #cc5d1e"  href="/cart/{$value.idturma}/{$value.idtemporada}/add">Inscrever-se</a>  

              {else}

              <a onclick="encerradas()" class="btn btn-info" style="background-color: #cc5d1e"  href="#">Inscrever-se</a>  

              {/if}

          {/if}
        {/if}           

           
      </div>
    </div> <!-- row 4 -->
  </div> <!-- container 3 -->

  {/loop}

  {if="$error != ''"}
   
<div class="container" >
  <div class="row">
    <div class="col-md-12 alert alert-info" style="font-size: 20px; text-align-last: center ">
       <span style="font-size: 20px; font-weight: bold;"> 

    {if="$modalidade.idmodal == 38"}

      FAÇA SUA INSCRIÇÃO E MATRICULA PELO WHATSAPP (<a href="https://wa.me/+5511970760944?text=Olá!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do Sensei Guto. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: darkgreen; font-weight: bold;"></i><span style="color: black;"> 979760944&nbsp;</span></a>)

    {else}

      {if="$modalidade.idmodal == 39"}

         Faça a sua inscrição para o <br> JUDÔ <br> <a href="/judo"><span style="color: red;"> &nbsp;clique aqui</span></a>

      {else}

          {$error}

      {/if}       

    {/if}

     </span>
    
    </div>     
  </div>
</div>
 {/if}

  <div class="row" style="margin: -5px 10px -5px 10px; ">   
  
  <div class="col-md-6" style="text-align-last: left; background-color: #cc5d1e; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;"> 
    <a href="/modalidades">           
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 5px; ">                                               
          Cursos por modalidade
      </div>
    </a>
  </div> 
  <div class="col-md-6" style="text-align-last: left; background-color: #0f71b3; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">  
    <a href="/locais">                          
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 0px; ">                                               
          Cursos por Centro Esportivo
      </div>
    </a>
  </div>
  
<!--
  <div class="col-md-4" style="text-align-last: left; background-color: #909090; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">
    <a href="/">    
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 5px;  ">                                               
          Todas turmas
      </div>
    </a>
  </div>
  </div>
-->
</div>

   <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                  {loop="$pages"}
                  <li><a href="{$value.link}">{$value.page}</a></li>
                  {/loop}
                </ul>
              </div>
              </div> <!-- final da index -->

