
<script type="text/javascript">

    function getVagas(url){

        let ajax = new XMLHttpRequest();
        ajax.open('GET', 'url');
        
        $.ajax({
          url: url,
          method: 'GET'  
        }).done(function(result){

          if(result){              
                alert(result)
          }else{
            alert('Dados não disponíveis!')
          }
        });
      } 

    /*
    alert('As aulas de Ginástica Artística (GA) e Ginástica Rítimica (GR) começam a partir de 13/02/2023.')
    */

     function alertTokenVunerabilidade(){

        alert("Pessoa em situação de VULNERABILIDADE SOCIAL, é a pessoa que participa de programas sociais do governo, como por exemplo o Bolsa Família e que tem o cadastro no CadUnico/NIS com o respectivo número de inscrição. ")
    }

    function encerradas(){

        alert('As inscrições para a temporada de 2023 estão encerradas!\n\nAs inscrições para a temporada de 2024 tem a previsão de iniciar em 15 de janeiro de 2024.\n\nTodo o processo de inscrição será realizado pelo site:\n\nhttps://cursosesportivossbc.com\n\nImportante:\n\nDe 15/01 a 14/02, cada pessoa só poderá escolher 1(uma) modalidade\n\nDe 15/02 a 14/03, será permitida a inscrição em uma segunda modalidade\n\nA partir de 15/03 será permitida a inscrição em uma terceira modalidade')
        
    }

  
   function alertTokenCreeba(){

      alert("Conforme Resolução SESP Nº 004 de 28/10/2021 Art.7º, Os interessados em participar das turmas de inclusão para Pessoas com Deficiência (PCD) e/ou laudo médico do CREEBA, deverão comparecer pessoalmente (interessado ou representante legal) no CREEBA")
    }
    
    function alertTokenBaetao(){

      alert("Para fazer a inscrição nas turmas de natação intermediário, avançado e aperfeiçoamento para o ano de 2023 é necessário ser egresso das turmas do ano de 2022 e ter autorização fornecida pelo professor.")
    }
    
    function alertTokenPauliceia(){

      alert("Para fazer a inscrição nas turmas de natação intermediário, avançado e aperfeiçoamento para o ano de 2023 é necessário ser egresso das turmas do ano de 2022 e ter autorização fornecida pelo professor.")
    }

</script>
  <div class="container" style="margin-top: 0px;"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->
              <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 0px 0px 0px 0px;">

<div class="container" style="margin: 0px px 0px 0px; ">
    
    <div class="col-md-12" style="color: black; text-align-last: center; font-size: 20px;">

      <div>
         ETAPA <span style="font-weight: bold;">3</span> de <span style="font-weight: bold;">5</span> 
      </div>

    </div>
   
   <div class="col-md-12" style="text-align-last: left; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; border-radius: 15px;"> 
   
   {if="$modalidade.idmodal == 55"}
            Para fazer a inscrição e matrícula na modalidade Xadrez, você deve entrar em contato com o profº Rodrigo Scimini através Whatsapp abaixo.
        {else}
   
        {if="$modalidade.idmodal == 38"}
            Para fazer a inscrição e matrícula na modalidade Karatê, você deve entrar em contato com o Sensei Guto através Whatsapp abaixo.
        {else}
        
            {if="$modalidade.idmodal == 39"}
                Para fazer a inscrição na modalidade Judô, Clique no link abaixo.
            
            {else}
            
                {if="$modalidade.idmodal == 46"}
                    Para fazer a inscrição na modalidade Zumba, Clique no link abaixo.
                
                {else}
                    {if="$modalidade.idmodal == 22"}
                        Para maiores informações sobre o Projeto Sinais, que desenvolve esportes e aulas de libras para surdos, entre em contato pelo Whatsapp clicando no link abaixo.
                
                    {else}
        
                        {if="checkLogin(false)"} 
                    
                               <span style="color: black; font-weight: bold;">  {function="getUserName()"}</span>!<br>           
                                                                           
                              Nesta etapa, selecione abaixo uma turma para praticar a aula de <span style="font-weight: bold; font-size: 20px; color: orange;">{$modalidade.descmodal}</span> e faça a sua inscrição ou a inscrição de seu dependente.
                    
                        {else}      
                               
                          
                                <a href="/user-create">             
                                         CADASTRE-SE               
                                </a> 
                                 <span> ou faça o  </span>           
                                <a href="/login" >                
                                     LOGIN 
                                </a>
                                e nesta etapa selecione abaixo uma turma para praticar a aula de <span style="font-weight: bold; font-size: 20px; color: orange;">{$modalidade.descmodal}</span>, faça a sua inscrição ou a inscrição de seu dependente.
                              
                        {/if}  
                    {/if}
                 {/if}
             {/if}
        {/if}
    {/if}

    </div>
    
    {if="$modalidade.idmodal == 10"}
      <div class="container" >
            <div class="row">
                <div class="col-md-12 alert alert-info" style="font-size: 20px; text-align: justify ">
                    <span style="font-size: 20px; font-weight: bold;">
                        
                         Novas turmas de Basquete serão disponibilizadas neste site a partir do dia 07 de fevereiro.
                         
                    </span>
                 </div>     
             </div>
        </div>
  {/if}
    
    {if="$modalidade.idmodal == 25"}
        <div class="container" >
            <div class="row">
                <div class="col-md-12 alert alert-info" style="font-size: 20px; text-align: justify ">
                    <span style="font-size: 20px; font-weight: bold;">

                        Novas inscrições! <br>
                        Leiam atentamente as observações de cada turma.<br>
                        <span style="color: red;">Sujeito a alterações de acordo com divisão das turmas.</span>
                        
                        
                    </span>
                 </div>     
             </div>
        </div>
    {/if}
    
    {if="$modalidade.idmodal == 44"}
        <div class="container" >
            <div class="row">
                <div class="col-md-12 alert alert-info" style="font-size: 20px; text-align: justify ">
                    <span style="font-size: 20px; font-weight: bold;">
                        
                         Novas inscrições! <br>
                        Leiam atentamente as observações de cada turma.<br>
                        <span style="color: red;">Sujeito a alterações de acordo com divisão das turmas.</span>
                        
                    </span>
                 </div>     
             </div>
        </div>
    {/if}


   
   <!--
   
  <div class="col-md-12" style="text-align-last: left; background-color: #cc5d1e; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">  
   
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 0px; ">                                               
         <span style="font-weight: bold; font-size: 20px;">{$modalidade.descmodal} </span>
      </div>
   
  </div>
  -->

<hr style="background-color: #0f71b3;">

  {loop="$turma"}
  
  {if="$value.idturma == 264 OR $value.idturma == 265 OR $value.idturma == 266 OR $value.idturma == 267 OR ($value.idturma == 452) OR ($value.idturma == 449) OR ($value.idturma == 447) OR ($value.idturma == 448) OR ($value.idturma == 455)"}
  
  {else}

  <div class="container"> <!-- container 3 -->
    <div class="row"> <!-- row 4 --> 
    
      <div class="col-md-12" style="text-align-last: left; line-height: 20px;  font-size: 14px; font-style: normal; margin: 5px 0px 20px 0px">

         <!--
          <a href="/turma/{$value.idturma}/{$value.idtemporada}" style="text-decoration: none">  
          -->
          <!-- <a href="/cart/{$value.idturma}/{$value.idtemporada}/add" style="text-decoration: none"> 
          -->
             
        <h5 style="color: #000000"> 
            <span style="font-weight: bold;">
                {if="$value.idstatustemporada == 3"} 
              [ <span style="font-weight: bold; font-size: 14px; color: darkorange;">
              {$value.descstatustemporada}  </span>]
              {/if}            
                {$value.descturma} - {$value.desctemporada}    
            </span><br>
            <span style="color: darkgreen; font-size: 16px">
                [{$value.idturma}] - {$value.descativ}
            </span><br>
             
              {$value.diasemana} das {$value.horainicio} às {$value.horatermino} <br>  
               Local da aula: {$value.apelidolocal}<br>             
             

               {if="$value.fimidade == 99"} 
               Para adultos nascidos até {$anoAtual - $value.initidade} <br> 
              {else}
              Para nascidos entre: {$anoAtual - $value.fimidade} e {$anoAtual - $value.initidade}<br>
              {/if}
              
             {if="$value.obs"}
			  OBSERVAÇÃO: <strong>{$value.obs}</strong><br>
			  {/if}
			  

                   
                        
              
              {if="$value.idstatustemporada == 2"} 
               <span style="font-weight: bold;">
              {$value.vagas} vagas<br>
              {/if}          

              {if="$value.idstatustemporada == 4"} 
               <span style="color: red;">
                {$value.descstatustemporada}
              </span> <br> 
               <span style="font-weight: bold;">
              {$value.numinscritos} inscritos para {$value.vagas} vagas                          
              {/if}

              {if="$value.idstatustemporada == 6"} 
               <span style="color: red;">
                {$value.descstatustemporada}. <br>
                <span style="color: black;">Novas inscrições a partir de {function="formatDate($value.dttermmatricula)"}.</span>
              {/if}
              

              {if="$value.numinscritos > $value.vagas && $value.idstatustemporada == 4"} <br>
              </span> 
               <span style="color: orange;">
                Para esta turma terá sorteio de vagas<br>
              </span>              
              {/if}

              {if="$value.idstatustemporada == 5"}
              
                {if="$value.numinscritos < $value.vagas && $value.idstatustemporada == 5"} 

                   {if="$value.nummatriculados < $value.vagas && $value.idstatustemporada == 5"} 
                      
                      {if="($value.idturma == 264) OR ($value.idturma == 265) OR ($value.idturma == 266) OR ($value.idturma == 267) OR ($value.idturma == 447) OR ($value.idturma == 448) OR ($value.idturma == 449) OR ($value.idturma == 455)"}
                      
                        <span style="color: darkgreen;">
                        <strong>Clique para fazer sua inscrição</strong><br>
                      </span>
                      
                      {else}
                      <!--
                        <span style="color: green; font-size: 14px;">
                        {$value.numinscritos} inscritos para {$value.vagas} vagas   
                        
                      </span><br>
                      -->
                       
                      {/if}
                      
                   {/if}

                {else}
                
                <!--
                   <span style="color: darkred;">
                           
                   <strong>Não há vagas disponíveis.</strong><br>
                  </span>
                    <span>
                    Faça sua inscrição para a lista de espera<br>
                  </span>
                 
                   <h6 style="color: blue; font-weight: bold">  
                     <a href="/insc-turma-temporada-listaespera/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">Consulte a lista de espera, clicando aqui.  </a>
                    </h6>
                    -->
                {/if}
              {/if}
            
          </h5>
          
          
        <!-- </a> -->
        {if="$value.token == 1"} 
           
          {if="$value.idlocal == 5"}

              <h5><span style="color: darkblue;" >
                <strong>Necessário token</strong>&nbsp;             
              </span>
              <a href="#" onmousemove="alertTokenCreeba()"><i class="fa fa-info-circle" style="font-size: 24px;"></i></a></h5>
            {/if}

            {if="$value.idlocal == 3"}

              <h5><span style="color: darkblue;" >
                <strong>Necessário token</strong>&nbsp;             
              </span>
              <a href="#" onmousemove="alertTokenBaetao()"><i class="fa fa-info-circle" style="font-size: 24px;"></i></a></h5>
            {/if}
            
            {if="$value.idlocal == 21"}

              <h5><span style="color: darkblue;" >
                <strong>Necessário token</strong>&nbsp;             
              </span>
              <a href="#" onmousemove="alertTokenBaetao()"><i class="fa fa-info-circle" style="font-size: 24px;"></i></a></h5>
            {/if}
            
        {/if} 
          
        {if="$value.idstatustemporada == 6"} 
            
        
        {else}
          {if="$value.idstatustemporada == 3"} 

             <!--
            <h6 style="color: blue; font-weight: bold">
              Consulte as inscrições válidas para esta turma, 
              <a href="/insc-turma-temporada-valida/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" >clicando aqui. </a>
            </h6>
          -->

            <h6 style="color: blue; font-weight: bold">
              Acesse lista com o resultado final após o sorteio para esta turma,
             <a href="/insc-turma-temporada-classificadas/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">clicando aqui.  </a>
            </h6>

          {else}
                
             
              <a class="btn btn-info" style="background-color: #cc5d1e"  href="/cart/{$value.idturma}/{$value.idtemporada}/add">Inscrever-se</a>  
             <!--

                <a class="btn btn-info" style="background-color: #cc5d1e; color: white;"  onclick="encerradas()">Inscrever-se</a>  
            -->
              <a class="btn btn-success" style="font-weight: bold; color: white;" onclick="getVagas('/vagas-turma/{$value.idturma}/{$value.idtemporada}/{$value.idmodal}/{$value.idturmastatus}')"> Vagas </a> 
              &nbsp;&nbsp;
              <a href="#" onmousemove="alertTokenVunerabilidade()"><i class="fa fa-info-circle" style="font-size: 18px;"></i></a>

            <br> 
            <h6 style="color: blue; font-weight: bold">  
                     <a href="/insc-turma-temporada-listaespera/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">Consulte a lista de espera, clicando aqui.  </a>
                    </h6>
               <hr style="background-color: blue;">

          {/if}
        {/if}           

            
      </div>
    </div> <!-- row 4 -->
  </div> <!-- container 3 -->
  {/if}
  {/loop}
  {if="$error != ''"}
   
<div class="container" >
  <div class="row">
    <div class="col-md-12 alert alert-info" style="font-size: 20px; text-align-last: center ">
       <span style="font-size: 20px; font-weight: bold;">
           
    {if="$modalidade.idmodal == 55"}
    
           &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;FAÇA SUA INSCRIÇÃO E MATRICULA PELO WHATSAPP<br> (<a href="https://wa.me/+5511944583463?text=Olá!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do profº Rodrigo Scimini. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: darkgreen; font-weight: bold;"></i><span style="color: black;"> 94458 3463&nbsp;</span></a>)
    
        {else}
           
        {if="$modalidade.idmodal == 38"}
    
           &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;FAÇA SUA INSCRIÇÃO E MATRICULA PELO WHATSAPP<br> (<a href="https://wa.me/+5511991000907?text=Olá!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp do Sensei Guto. Digite sua mensagem e no app clique em enviar msg.')"><i class="fa fa-whatsapp" style="color: darkgreen; font-weight: bold;"></i><span style="color: black;"> 99100 0907&nbsp;</span></a>)
    
        {else}

          {if="$modalidade.idmodal == 22"}
    
           &nbsp; OBTENHA MAIS INFORMAÇÕES SOBRE O PROJETO SINAIS<br> <a href="https://wa.me/+5511912672403?text=Olá!" target="_blank" onclick="return confirm('Você será direcionado para o whatsapp, onde irá conversar com um dos nossos atendentes. Digite sua mensagem, e no app clique em enviar msg.')"> Clique aqui <br>
                   <i class="fa fa-whatsapp" style="color: darkgreen; font-weight: bold;"></i>&nbsp;<span style="color: black;">
                  
                   
                   (11) 91267 2403

           &nbsp;</span></a>
    
          {else}
    
          {if="$modalidade.idmodal == 39"}
    
              Faça a sua inscrição para o <br> JUDÔ <br> <a href="/judo"><span style="color: red;"> &nbsp;clique aqui</span></a>
    
          {else}
          
          {if="$modalidade.idmodal == 46"}
    
              Ainda não começaram as inscrições para a ZUMBA. O link para a inscrição irá aparecer aqui a partir da segunda quinzena de fevereiro de 2023. Aguardem!!!
    
          {else}
          
                
    
            {$error}
              
                
        {/if}
        {/if}  
          
         {/if}
    
        {/if}
    {/if}
                   
     </span>
    </div>     
  </div>
</div>
 {/if}

  <div class="row" style="margin: -5px 10px -5px 10px; ">   
  <div class="col-md-6" style="text-align-last: left; background-color: #cc5d1e; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;"> 
    <a href="/modalidades">           
      <div style="text-align-last: center; font-weight: bold; line-height: 30px; color: white; font-size: 14sx; font-style: normal; margin: 10px 5px 10px 5px; ">                                               
          Cursos por modalidade
      </div>
    </a>
  </div> 
  <div class="col-md-6" style="text-align-last: left; background-color: #0f71b3; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">  
    <a href="/locais">                          
      <div style="text-align-last: center; font-weight: bold; line-height: 30px; color: white; font-size: 14sx; font-style: normal; margin: 10px 5px 10px 0px; ">                                               
          Cursos por Centro Esportivo
      </div>
    </a>
  </div>
  
<!--
  <div class="col-md-4" style="text-align-last: left; background-color: #909090; border: 5px white; margin: 0px 0px 10px 0px;  line-height: 20px; font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif; text-align: center; border-radius: 15px;">
    <a href="/">    
      <div style="text-align-last: center; font-weight: 600; line-height: 30px; color: white; font-size: 14px; font-style: normal; margin: 10px 5px 10px 5px;  ">                                               
          Todas turmas
      </div>
    </a>
  </div>
  </div>
-->
</div>

   <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                  {loop="$pages"}
                  <li><a href="{$value.link}">{$value.page}</a></li>
                  {/loop}
                </ul>
              </div>
              </div> <!-- final da index -->

