
<script>

    function quantosAnos(nascimento, hoje) {

        var diferencaAnos = hoje.getFullYear() - nascimento.getFullYear();
        if ( new Date(hoje.getFullYear(), hoje.getMonth(), hoje.getDate()) < 
         new Date(hoje.getFullYear(), nascimento.getMonth(), nascimento.getDate()) )
        diferencaAnos--;
        return diferencaAnos;
    }       

    function menorDeIdade(){     

        let hoje = new Date()

        let dtnasc = new Date(document.getElementById('dtnasc').value)

        let idadeAnos = quantosAnos(dtnasc, hoje)

        if(idadeAnos < 0){
            alert('Data inválida! Idade não pode ser menor que 0.')
            document.getElementById('dtnasc').value = 0
        }

        if (idadeAnos > 18){
            document.getElementById('maeEpai').hidden = true
        }else{
            document.getElementById('maeEpai').hidden = false
        }
    }

    function vulnerabilidade(){

        let vulnsocial = document.getElementById('vulnsocial').value

        if(vulnsocial == 0){
            document.getElementById('divCadunico').hidden = true
        }else{
           document.getElementById('divCadunico').hidden = false
        }
    }  

    function formatar_mascara(src, mascara) {
        let campo = src.value.length;
        let saida = mascara.substring(0,1);
        let texto = mascara.substring(campo);

        if(texto.substring(0,1) != saida) {
            src.value += texto.substring(0,1);
        }
} 

</script>

     <div class="container"> <!-- container 1 -->
                <div class="row"> <!-- row 2 -->
                  <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">

    <div class="container">
        <div class="row" style="padding-bottom: 5px">
        
            <div class="col-md-12">

                <div class="alert alert-success" style="text-align-last: center;">
                    <a class="btn btn-success" href="/user/pessoas" role="button">Meus dependentes</a>
                </div>

        
                {if="$errorRegister != ''"}
                <div class="alert alert-danger">
                 {$errorRegister}
                </div>
                {/if}

                {if="$success != ''"}
                <div class="alert alert-success">
                 <h4>{$success}</h4>
                </div>
                {else}
                <div class="">
                <h3>Cadastrar uma nova pessoa</h3>
                </div>
                {/if}

                <form id="register-form-wrap" action="/registerpessoa" class="register" method="post">
                    
                    
                    <label for="nomepess">
                        Nome Completo 
                        <span class="required">
                        *
                        </span>
                    </label>
                    <input style="width: 100%; float: right;" type="text" id="nomepess" name="nomepess" class="input-text" value="{$registerpessoaValues.nomepess}" placeholder="Informe o nome completo">                
                    <label for="dtnasc">
                        <br>Data do Nascimento
                        <span class="required">
                            *
                        </span>
                    </label>
                    <input onblur="menorDeIdade()" style="width: 100%; float: right;" type="date" id="dtnasc" name="dtnasc" class="input-text" value="{$registerpessoaValues.dtnasc}">               
                    
                    <label for="sexo"><br>
                        <br>Sexo
                    </label>
                    <select style="width: 100%; float: right;" class="form-control" name="sexo">

                        
                        {if="$registerpessoaValues.sexo === ''"}
                        <option selected="" value="">Selecione</option> 
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Não Declarado">Não Declarado</option>                            
                        {/if}
                        {if="$registerpessoaValues.sexo === 'Feminino'"}
                        <option selected="" value="Feminino">Feminino</option> 
                        <option value="Masculino">Masculino</option>
                        <option value="Não Declarado">Não Declarado</option>                             
                        {/if}                      
                        {if="$registerpessoaValues.sexo === 'Masculino'"}
                        <option selected="" value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Não Declarado">Não Declarado</option>                            
                        {/if}                       
                        
                    </select>     

                    <label for="numcpf">
                        <br><br>Número do CPF 
                        <span class="required">
                            *
                        </span>
                    </label>
                    <input style="width: 100%; float: right;" type="text" maxlength="14" id="numcpf" name="numcpf" class="input-text" value="{$registerpessoaValues.numcpf}" onkeypress="formatar_mascara(this, '###.###.###-##')">
                   

                    <label for="numrg">
                        <br><br>Número do RG 
                        <span class="required">
                            *
                        </span>
                    </label>
                    <input style="width: 100%; float: right;" type="text" id="numrg" name="numrg" class="input-text" value="{$registerpessoaValues.numrg}">

                    <label for="numsus">
                        <br><br>Número do Cartão do SUS 
                        <span class="required">
                            *
                        </span>
                    </label>
                    <input style="width: 100%; float: right;" type="number" id="numsus" name="numsus" class="input-text" value="{$registerpessoaValues.numsus}">
                    


                    
                    <label for="vulnsocial">
                        <br><br>Vulnerabilidade Social?
                    </label>
                    <select onchange="vulnerabilidade()" id="vulnsocial" style="width: 100%; float: right;" class="form-control" name="vulnsocial">
                        {if="$registerpessoaValues.vulnsocial === ''"}
                        <option selected="" value="">Seclecione</option>                            
                        <option value="1">Sim</option>
                        <option value="0">Não</option>  
                        {/if}   
                        {if="$registerpessoaValues.vulnsocial === '1'"}
                        <option sected="" value="1">Sim</option>
                        <option value="0">Não</option>  
                        {/if}  
                        {if="$registerpessoaValues.vulnsocial === '0'"}
                        <option sected="" value="0">Não</option>
                        <option value="1">Sim</option>  
                        {/if}                                                                                                                            
                    </select>                 
                    
                    <div id="divCadunico" hidden="true">
                    <label for="cadunico">
                        <br><br>Número do CadÚnico
                        <span class="required">
                            *
                        </span>
                    </label>
                    <input style="width: 100%; float: right;" type="number" id="cadunico" name="cadunico" class="input-text" value="{$registerpessoaValues.cadunico}">
                    </div>

                    <div id="maeEpai">

                        <label for="nomemae">
                            <br><br>Nome da Mãe
                            <span class="required">
                                <span style="font-size: 12px; font-weight: bold">* (Necessário preencher este campo se a pessoa, a cadastrar, for menor de idade)</span>
                            </span>
                        </label>
                        <input style="width: 100%; float: right;" type="text" id="nomemae" name="nomemae" class="input-text" value="{$registerpessoaValues.nomemae}">                
                        
                        <label for="cpfmae">
                            <br><br>CPF da Mãe
                            <span class="required">
                                *
                            </span>
                        </label>
                        <input style="width: 100%; float: right;" type="text" maxlength="14" id="cpfmae" name="cpfmae" class="input-text" value="{$registerpessoaValues.cpfmae}" onkeypress="formatar_mascara(this, '###.###.###-##')">
                        
                        <label for="nomepai">
                            <br><br>Nome do Pai
                            <span class="required">
                                <span style="font-size: 12px; font-weight: bold">* (Necessário preencher este campo se a pessoa, a cadastrar, for menor de idade)</span>
                            </span>
                        </label>
                        <input style="width: 100%; float: right;" type="text" id="nomepai" name="nomepai" class="input-text" value="{$registerpessoaValues.nomepai}">                
                        
                        <label for="cpfpai">
                            <br><br>CPF do Pai
                            <span class="required">
                                *
                            </span>
                        </label>
                        <input style="width: 100%; float: right;" type="text" maxlength="14" id="cpfpai" name="cpfpai" class="input-text" value="{$registerpessoaValues.cpfpai}" onkeypress="formatar_mascara(this, '###.###.###-##')">
                    </div>         
                </div>  
            </div>
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-12">
                    <input style="width: 100%; float: right; background-color: #15a03f;" type="submit" value="Cadastrar" name="registerPessoa" class="btn">
                </div>                   
            </div>
                </form>               
            <div class="row">
                <div class="col-md-12" style="text-align: center">

                        <a class="btn" data-quantity="1" style="width: 100%; float: right; background-color: #ce2c3e;  text-decoration: none; color: white;" href="/" text-decoration="none">CANCELAR
                        </a>
                        <!-- <input style="width: 100%; float: right; background-color: #ce2c3e;" type="submit" value="Cancelar" name="login" class="button"> -->
                   
                </div>
            </div>   
    </div>     

    <script>

</script>

    </div> <!-- final da index -->               


