            <div class="container">
                <div class="row alert-primary">
                    <div class="col-md-12" style="padding-top: 10px; padding-bottom: 10px">
                        <strong> Minhas inscrições</strong>
                    </div>
                </div>
                 {loop="$insc"}
                <div class="row alert-info">
                    <div class="col-md-12">
                        <hr>
                        <strong>NÚMERO PARA O SORTEIO: </strong><span style="color: red; font-size: 20px">{$value.numsorte}</span><br>
                        <strong>NOME DO ALUNO: </strong> <span>{$value.nomepess}</span><br>
                        <strong>TURMA: </strong>{$value.descativ}<br>
                        
                        <strong>STATUS :</strong>{$value.descstatus}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-primary" href="/profile/insc/{$value.idinsc}" role="button">Detalhes</a>
                        <hr>
                    </div>
                </div>
                {else}
                <div class="row alert-danger">
                    <div class="col-md-12" style="padding-top: 10px; padding-bottom: 0px">
                       <hr> Nenhuma inscrição foi encontrada.<hr>
                    </div>
                </div>
            
           
            {/loop}
            </div>  
            

