
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">            
                <div class="col-md-7 alert alert-primary">
                    <h5>Nome do aluno: {$pessoa.nomepess} -  {function="calcularIdade($pessoa.dtnasc)"} anos </h5>
                    <h5>Inscrição Nº {$insc.idinsc}</h5>
                    
                </div>
                <div class="col-md-5 alert alert-success">
                   
                       <p><h5 style="text-align: center"> Nº para concorrer no sorteio: </h5></p>
                       <p><h3 style="color: red; text-align-last: center">{$insc.numsorte}</h3> </p>
                </div> 
                
            </div>              
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-top: 10px">
            <strong>Turma / Temporada: </strong>
        </div>
        <div class="col-md-9 alert alert-success">
            <strong>{$insc.descturma} - {$insc.desctemporada}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-top: 10px">
            <strong>Horário: </strong>
        </div>
        <div class="col-md-9 alert alert-success">
            <strong>{$insc.diasemana} das {$insc.horainicio} às {$insc.horatermino}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-top: 10px">
            <strong>Professor: </strong>
        </div>
        <div class="col-md-9 alert alert-success">
            <strong>{$insc.apelidoperson}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-top: 5px">
            <strong>Local da aula (CREC): </strong>
        </div>
        <div class="col-md-9 alert alert-success">
            <strong>{$insc.descespaco} - {$insc.apelidolocal}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-top: 10px">
            <strong>Data da Inscrição: </strong>
        </div>
        <div class="col-md-9 alert alert-success">
            <strong>{function="formatDateHour($insc.dtinsc)"}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-top: 10px">
            <strong>Status da Inscrição: </strong>
        </div>
        <div class="col-md-9 alert alert-success">
            <strong>{$insc.descstatus}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-top: 10px">
            <strong>Início previsto das aulas: </strong>
        </div>
        <div class="col-md-9 alert alert-success">
            <strong>{function="formatDate($insc.dttermmatricula)"}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-top: 10px">
            
            <input type="submit" value="Imprimir" class="button alt" onclick="window.print()">
        
        </div>
        
    </div>
</div>



<style>
@media print {
.header-area,
.site-branding-area,
.sticky-wrapper,
.footer-top-area,
.footer-bottom-area,
.single-product-area .col-md-3,
.button.alt,
.product-big-title-area {
display:none!important;
}
.single-product-area .col-md-9 {
width: 100%!important;
}
}
</style>