          <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->

              <div class="col-md-8">
                <div id="order_review" style="position: relative;">
                    <table class="shop_table">
                        <thead>
                            <tr>
                                <th colspan="2" class="product-name"><h5>Nome: {$insc.nomepess} -  {function="calcularIdade($insc.dtnasc)"} anos </h5></th>
                            </tr>
                            <tr>
                                <th colspan="2" class="product-name">número para concorrer no sorteio: <span style="font-weight: bold; font-size: 26px;">&nbsp;{$insc.numsorte}</span> </th>
                            </tr>
                            <tr>
                                <th class="product-name">Turma / Temporada</th>
                                <td class="product-name">{$insc.descturma} - {$insc.desctemporada}</td>
                            </tr>
                            <tr>
                                <th class="product-name">Horário</th>
                                <td class="product-name">{$insc.diasemana} das {$insc.horainicio} às {$insc.horatermino}</td>
                            </tr>
                            <tr>
                                <th class="product-name">Professor</th>
                                <td class="product-name">{$insc.desperson}</td>
                            </tr>
                            <tr>
                                <th class="product-name">Local da aula (CREC)</th>
                                <td class="product-name">{$insc.descespaco} - {$insc.apelidolocal}</td>
                            </tr>
                            <tr>
                                <th class="product-name">Data da Inscrição</th>
                                <td class="product-name">{function="formatDateHour($insc.dtinsc)"}</td>
                            </tr>                            
                            <tr>
                                <th class="product-name">Status da Inscrição</th>
                                <td class="product-name">{$insc.descstatus}</td>
                            </tr>
                             <tr>
                                <th class="product-name">Início previsto das aulas</th>
                                <td class="product-name">{function="formatDate($insc.dttermmatricula)"}</td>
                            </tr>
                            <tr>
                                <th class="product-name">&nbsp;</th>
                                <td class="product-name">&nbsp;</td>
                            </tr>

                        </thead>
                        <tbody>
                            
                               
                        </tbody>
                        <tfoot>
                            
                        </tfoot>
                    </table>
                    <div id="payment">
                        <div class="form-row place-order">
                            <input type="submit" value="Imprimir" class="button alt" onclick="window.print()">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

<style>
@media print {
    .header-area,
    .site-branding-area,
    .sticky-wrapper,
    .footer-top-area,
    .footer-bottom-area,
    .single-product-area .col-md-3,
    .button.alt,
    .product-big-title-area {
        display:none!important;
    }
    .single-product-area .col-md-9 {
        width: 100%!important;
    }
}
</style>