<div class="turma-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="turma-bit-title text-center">
                    <h2>{$turma.descativ}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-turma-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="turma-content-right">
                    <div class="turma-breadcroumb">
                    </div>
                    
                    <div class="row">
                       

                        <div class="col-sm-6">
                            <div class="turma-images">
                                <div class="turma-main-img">
                                    <img src="{$turma.desphoto}">
                                </div>
                            </div>
                        </div>
                
                        <div class="col-sm-6">
                            <div class="turma-inner">                
                                
                                <form action="#" class="cart">
                                    <button class="add_to_cart_button" type="submit">Increver-se</button>
                                </form>   
                                 
                                <div class="turma-inner-turma">
                                    <p>Locais {loop="$local"} <a href="/local/{$value.idlocal}">{$value.apelidolocal}</a>{/loop}.
                                </div> 
                                
                                <div role="tabpanel">
                                    <ul class="turma-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Descrição</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Avaliações</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">

                                            <h2>{$turma.descativ} do Programa {$turma.prograativ} - para {$turma.descrfxetaria} de {$turma.initidade} a {$turma.fimidade} anos - {$turma.geneativ} no período da {$turma.periodo} das {$turma.horainicio} às {$turma.horatermino} na {$turma.descespaco} do Crec {$turma.apelidolocal} com o(a) professor(a) {$turma.desperson} </h2>

                                            
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Reviews</h2>
                                            <div class="submit-review">
                                                <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                <div class="rating-chooser">
                                                    <p>Your rating</p>

                                                    <div class="rating-wrap-post">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                <p><input type="submit" value="Submit"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>                    
            </div>
        </div>
    </div>
</div>