
          <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->

              <div class="col-md-8 col-sm-1" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="turma-bit-title text-center">
                                <h2>{$turma.descativ}</h2>
                            </div>
                        </div>
                    </div>
                </div>

               
                    <div class="container"> <!-- container 3 -->
                      <div class="row"> <!-- row 4 -->
                        
                              <div class="col-md-12" col-sm-1 style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px">
                                <table>
                                  <tr>
                                    <td>

                                      <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="{$turma.desphoto}" alt="Photo">

                                   </td>
                                  </tr>
                                   
                                  </tr>
                                    <tr>
                                    <td>
                                        <h5 style="color: #000000"> <span style="font-weight: bold;">
                                        </span>{$turma.descativ} do Programa {$turma.prograativ}, para {$turma.descrfxetaria} de {$turma.initidade} a {$turma.fimidade} anos,  {$turma.geneativ} no período da {$turma.periodo} das {$turma.horainicio} às {$turma.horatermino}, na {$turma.descespaco} do Crec {$turma.apelidolocal}, com o(a) professor(a) {$turma.desperson} - Temporada {$turma.desctemporada}</</h5>

                                    </td>
                                 
                                </table>
                                <table>
                                <tr>

                                   <td> 

                                     <form action="/cart/{$turma.idturma}/{$turma.idtemporada}/add" class="cart"> 
                                            <button class="btn btn-success btn-sm" style="width: 282px; text-align-last: center" type="submit">Increver-se</button>
                                        </form>                          
                                       
                                   </td>
                               </tr>
                               </table>
                              </div>                              
                        
                             
                      </div> <!-- row 4 -->
                    </div> <!-- container 3 -->
                    {if="$turma.idstatustemporada != 4"}
                <div class="container"> <!-- container 3 -->
                    <div class="row"> <!-- row 4 -->                        
                        <div class="col-md-8" col-sm-1 style="text-align-last: left; background-color: white; margin: 5px 0px 5px 0px; padding-right: 0px">
                                <h2>Não há temporada iniciada ): </h2>                               
                                <h1>Lo_| _Aguarde  </h1>
                                <h1>Em breve \o/ </h1>                              
                                <h1>Novidades :) </h1>
                          </div> 
                    </div> <!-- row 4 -->
                  </div> <!-- container 3 -->                             
                  {/if}

              </div>