

 <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->
              <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 15px 0px 50px 0px;">

{if="$error != ''"}
  <div class="alert alert-danger" role="alert">
      {$error}
  </div>
{else}


<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="turma-bit-title text-center">
              <h2>{$turma.descativ}</h2>
          </div>
      </div>
  </div>
</div>

<div class="container"> <!-- container 3 -->
    <div class="row" style="padding: 5px"> <!-- row 4 -->
      <!--
      <div class="col-md-4">
          <img class="img-responsive" style="width: 282px; height: 179px" id="image-preview" src="{$turma.desphoto}" alt="Photo">

        </div>
      -->
        <div class="col-md-12">
          
          <div class="row">
            <div class="col-md-12">
               <h5 style="color: #000000"> <span style="font-weight: bold;">
            </span>{$turma.idturma} - {$turma.descativ} do Programa {$turma.prograativ}, para {$turma.descrfxetaria} de {$turma.initidade} à {$turma.initidade} anos,  {$turma.geneativ} no período da {$turma.periodo} das {$turma.horainicio} às {$turma.horatermino}, na {$turma.descespaco} do Crec {$turma.apelidolocal}, com o(a) professor(a) {$turma.apelidoperson} - Temporada {$turma.desctemporada} <br>
            Inicio das aulas: </</h5>
            </div>
          </div>
          {if="$turma.idstatustemporada == 6"}

          <div class="row">
            <div class="col-md-12">
             <h5 style="color: green; font-weight: bold;"> Aguarde terminar período de matrículas para fazer novas inscrições.</h3>
            </div>
          </div> 

          {else}
          <div class="row">
            <div class="col-md-12">
              <form action="/cart/{$turma.idturma}/{$turma.idtemporada}/add"> 
              <button class="btn btn-success" style="text-align-last: center; background-color: #15a03f" type="submit">Fazer inscrição para esta turma</button>
           </form>                          
            </div>
          </div> 
          {/if}         
        </div>
    </div><!-- row 4 --> 
</div> <!-- container 3 -->           
{/if}
</div> <!-- final da index -->

