<div class="list-group" id="menu" style="font-weight: bold;">   
    <a href="/profile/insc" class="list-group-item list-group-item-action">Minhas Incrições</a>
    <a href="/minhaagenda" class="list-group-item list-group-item-action">Agenda de Natação</a>
    <a href="/user/pessoas" class="list-group-item list-group-item-action">Meus Dependentes</a>
    <a href="/user/profile" class="list-group-item list-group-item-action">Alterar Email / Telefone</a>
    <a href="/user-change-password" class="list-group-item list-group-item-action">Alterar Senha</a>
    <a href="/logout" class="list-group-item list-group-item-action">Sair</a>
</div>