
#nav3 {
	box-shadow: -3px 5px 5px 0px #6B6A6A inset;
}

#colunaDireita{


}

.estruturaAcessos ul{

	background-color: red;

	width: 100%;

	list-style: none;
	list-style-position: initial;
	list-style-image: initial;
	list-style-type: none;

	margin: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}





