<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
   Criar Novo Espaço
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/professor/espaco">Espaços</a></li>
  </ol>
</section>

<!-- Main content -->

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        {if="$error != ''"}
          <div class="alert alert-danger" style="margin: 10px 10px 0px 10px">
        {$error}
          </div>
        {/if}
        <!-- /.box-header -->
        <!-- form start --><form role="form" action="/professor/espaco/create" method="post">
          <div class="box-body">
            <div class="box-header">
              <label for="nomeespaco">Nome do espaço</label>
              <input type="text" class="form-control" id="nomeespaco" name="nomeespaco" placeholder="Nome da espaco" value="{$createEspacoValues.nomeespaco}">
            </div>
            <div class="box-header">
              <label for="descespaco">Descrição do espaço</label>
              <input type="text" class="form-control" id="descespaco" name="descespaco" placeholder="Descreva a espaco" value="{$createEspacoValues.descespaco}">
            </div>
            <div class="box-header">
              <label for="areaespaco">Área do espaço</label>
              <input type="number" class="form-control" id="areaespaco" name="areaespaco" placeholder="Informe a área do espaço" value="{$createEspacoValues.areaespaco}">
            </div>
            <div class="box-header">
              <label for="observacao">Observação</label>
              <input type="text" class="form-control" id="observacao" name="observacao" placeholder="Observação: quadra coberta... sala com espelho... acessível..." value="{$createEspacoValues.observacao}">
            </div>
            <div class="box-header">
              <label for="idlocal">CREC</label>
              <select class="form-control" name="idlocal">
                 <option selected="selected" value="">Selecione CREC</option>
                  {loop="$local"}
                 <option  value="{$value.idlocal}">{$value.apelidolocal}</option>
                  {/loop}
              </select>
            </div>                           
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Cadastrar</button>
            &nbsp&nbsp&nbsp&nbsp
            <a type="button" class="btn btn-danger" href="/professor/espaco">Cancelar</a>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->