<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Faixa Etária
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Faixa Etária</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/professor/faixaetaria/{$faixaetaria.idfxetaria}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="initidade">Idade inicial</label>
              <input type="text" class="form-control" id="initidade" name="initidade" placeholder="Digite a idade inicial" value="{$faixaetaria.initidade}">
            </div>
            <div class="form-group">
              <label for="fimidade">Idade Final</label>
              <input type="text" class="form-control" id="fimidade" name="fimidade" placeholder="Digite a idade final" value="{$faixaetaria.fimidade}">
            </div>
            <div class="form-group">
              <label for="descrfxetaria">Descrição da Faixa Etária</label>
              <input type="text" class="form-control" id="descrfxetaria" name="descrfxetaria" placeholder="Descreva a faixa etaria" value="{$faixaetaria.descrfxetaria}">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->