
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Faixa Etária
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/professor/faixaetaria">Faixa Etária</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="/professor/faixaetaria/create" class="btn btn-success">Cadastrar Faixa Etária</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>

                    <th>Idade inicial</th>
                    <th>Idade Final</th>
                    <th>Descrição da Faixa Etária</th>
                    <th>Data do Registro</th>
                    <th style="width: 140px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$faixaetaria"}
                  <tr>
                    <td>{$value.initidade}</td>
                    <td>{$value.fimidade}</td>
                    <td>{$value.descrfxetaria}</td>
                    <td>{$value.dtregister}</td>
                    <td>
                      <a href="/professor/faixaetaria/{$value.idfxetaria}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/professor/faixaetaria/{$value.idfxetaria}/delete" onclick="return confirm('Deseja realmente excluir esta faixa etária de {$value.descrfxetaria}?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->