<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Horários do Espaço {$espaco.nomeespaco}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/professor/espaco">Espaço</a></li>
    <li><a href="/professor/espaco/{$espaco.idespaco}">{$espaco.nomeespaco}</a></li>
    <li class="active"><a href="/professor/espaco/{$espaco.idespaco}/horario">Horário</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                <h3 class="box-title">Todos os Horários</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Horário</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$horarioNotRelated"}
                            <tr>
                            <td>{$value.idhorario}</td>
                            <td>{$value.horainicio} ás {$value.horatermino} {$value.diasemana}</td>
                            <td>
                                <a href="/professor/espaco/{$espaco.idespaco}/horario/{$value.idhorario}/add" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-right"></i> Adicionar</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                <h3 class="box-title">Horários do Espaço {$espaco.nomeespaco}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Horários da Piscina</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$horarioRelated"}
                            <tr>
                            <td>{$value.idhorario}</td>
                            <td>{$value.horainicio} ás {$value.horatermino} {$value.diasemana}</td>
                            <td>
                                <a href="/professor/espaco/{$espaco.idespaco}/horario/{$value.idhorario}/remove" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Remover</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->