
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {$turma.descturma} {$turma.diasemana}  {$turma.periodo} {$turma.apelidolocal} -   {$temporada.desctemporada}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/professor/turma-temporada/{$temporada.idtemporada}">Turmas por temporada</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            
            <div class="box-header">
           
            </div>
           
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nome do aluno</th> 
                    <th>CPF</th> 
                    <th>Data Nascimento</th>    
                    <th>idade</th>
                    <th>Nome do Responsável</th>                 
                    <th>Telefone</th>
                    <th>Data Inscrição</th>
                    <th>Status Inscrição</th>
                    
                    <th>Status</th>
                    <th >Vagas</th>
                    <th>Nº de inscritos</th>
                    <th></th>
                    
                  </tr>
                </thead>
                <tbody>                  
                  {loop="$insc"}
                  <tr>

                    <td>{$value.nomepess} </td>
                    <td>{$value.numcpf} </td>                      
                      <td>{function="formatDate($value.dtnasc)"} </td>
                      <td>{function="calcularIdade($value.dtnasc)"}</td>
                      <td>{$value.desperson} </td>
                      <td>{$value.nrphone} </td>                                      
                      <td>{function="formatDate($value.dtinsc)"} </td>                                      
                       <td>{$value.idinscstatus} </td> 
                       <td> </td> 
                       <td> </td>                        
                       <td>
                          <a class="btn btn-info" href="/professor/profile/insc/{$value.idinsc}/{$value.idpess}" role="button">Detalhes</a>
                       </td>                                     
                   
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>

          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->