<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Crecs
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/professor/local">Crecs</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        {if="$error != ''"}
          <div class="alert alert-danger" style="margin: 10px 10px 0px 10px">
        {$error}
          </div>
        {/if}
            
            <div class="box-header">
              <a href="/professor/local/create" class="btn btn-success">Cadastrar Crec</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Apelido</th>
                    <th>Nome do Crec</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th style="width: 240px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$local"}
                  <tr>
                    <td>{$value.apelidolocal}</td>
                    <td>{$value.nomelocal}</td>
                    <td>{$value.rua} - {$value.numero} - {$value.complemento} - {$value.bairro} - Cep: {$value.cep} - {$value.cidade} - {$value.estado}</td>
                    <td>{$value.telefone}</td>
                    <td>
                      <!--<a href="/professor/local/{$value.idlocal}/espaco" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> Espaços</a> -->
                      <a href="/professor/local/{$value.idlocal}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/professor/local/{$value.idlocal}/delete" onclick="return confirm('Deseja realmente excluir o Crec {$value.apelidolocal}?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>

            <!-- /.box-body -->
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-print"></i> Imprimir
            </button>
          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->