
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Atividades
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/professor/modalidade">Modalidade</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
            
            <div class="box-header">
              <a href="/professor/modalidades/create" class="btn btn-success">Cadastrar Modalidade</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>

                    <th>Descrição</th>
                    

                  </tr>
                </thead>
                <tbody>
                  {loop="$modalidades"}
                  <tr>
                    <td>{$value.descmodal}</td>                    
                               
                    <td>
                      <a href="/professor/modalidades/{$value.idmodal}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/professor/modalidades/{$value.idmodal}/delete" onclick="return confirm('Deseja realmente excluir a modalidade {$value.descmodal}?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->