<li class="treeview">
								   		<a href="/professor/turma-temporada/75">
								   			<i class="fa fa-link"></i> 
								   			Temporada - 2016
								   		</a>
								   		<ul class="treeview-menu">
									   		<li>
									   			<a href="/professor/turma-temporada/75">
									   				<i class="fa fa-link"></i>
									   				Turmas Temporada 2016
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/professor-temporada/75">
									   				<i class="fa fa-link"></i>
									   				Profs Temporada 2016
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/sorteio/75">
									   				<i class="fa fa-link"></i>
									   				Sorteio 2016
									   			</a>
									   		</li>
										</ul>
									</li><li class="treeview">
								   		<a href="/professor/turma-temporada/73">
								   			<i class="fa fa-link"></i> 
								   			Temporada - 2017
								   		</a>
								   		<ul class="treeview-menu">
									   		<li>
									   			<a href="/professor/turma-temporada/73">
									   				<i class="fa fa-link"></i>
									   				Turmas Temporada 2017
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/professor-temporada/73">
									   				<i class="fa fa-link"></i>
									   				Profs Temporada 2017
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/sorteio/73">
									   				<i class="fa fa-link"></i>
									   				Sorteio 2017
									   			</a>
									   		</li>
										</ul>
									</li><li class="treeview">
								   		<a href="/professor/turma-temporada/72">
								   			<i class="fa fa-link"></i> 
								   			Temporada - 2018
								   		</a>
								   		<ul class="treeview-menu">
									   		<li>
									   			<a href="/professor/turma-temporada/72">
									   				<i class="fa fa-link"></i>
									   				Turmas Temporada 2018
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/professor-temporada/72">
									   				<i class="fa fa-link"></i>
									   				Profs Temporada 2018
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/sorteio/72">
									   				<i class="fa fa-link"></i>
									   				Sorteio 2018
									   			</a>
									   		</li>
										</ul>
									</li><li class="treeview">
								   		<a href="/professor/turma-temporada/53">
								   			<i class="fa fa-link"></i> 
								   			Temporada - 2019
								   		</a>
								   		<ul class="treeview-menu">
									   		<li>
									   			<a href="/professor/turma-temporada/53">
									   				<i class="fa fa-link"></i>
									   				Turmas Temporada 2019
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/professor-temporada/53">
									   				<i class="fa fa-link"></i>
									   				Profs Temporada 2019
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/sorteio/53">
									   				<i class="fa fa-link"></i>
									   				Sorteio 2019
									   			</a>
									   		</li>
										</ul>
									</li><li class="treeview">
								   		<a href="/professor/turma-temporada/57">
								   			<i class="fa fa-link"></i> 
								   			Temporada - 2020
								   		</a>
								   		<ul class="treeview-menu">
									   		<li>
									   			<a href="/professor/turma-temporada/57">
									   				<i class="fa fa-link"></i>
									   				Turmas Temporada 2020
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/professor-temporada/57">
									   				<i class="fa fa-link"></i>
									   				Profs Temporada 2020
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/sorteio/57">
									   				<i class="fa fa-link"></i>
									   				Sorteio 2020
									   			</a>
									   		</li>
										</ul>
									</li><li class="treeview">
								   		<a href="/professor/turma-temporada/4">
								   			<i class="fa fa-link"></i> 
								   			Temporada - 2021
								   		</a>
								   		<ul class="treeview-menu">
									   		<li>
									   			<a href="/professor/turma-temporada/4">
									   				<i class="fa fa-link"></i>
									   				Turmas Temporada 2021
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/professor-temporada/4">
									   				<i class="fa fa-link"></i>
									   				Profs Temporada 2021
									   			</a>
									   		</li>
									   		<li>
									   			<a href="/professor/sorteio/4">
									   				<i class="fa fa-link"></i>
									   				Sorteio 2021
									   			</a>
									   		</li>
										</ul>
									</li>