<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista dos professores da temporada {$temporada.desctemporada}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/professor/users">Usuários</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
            
            <div class="box-header">
              {if="$error != ''"}
                <div class="alert alert-danger" style="margin: 0px 10px 0px 10px">
                    {$error}
                </div>
                {else}
              <!--
              <a href="/professor/users/create" class="btn btn-success">Cadastrar Usuário</a>
            -->
            </div>         

           <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
              
            {loop="$prof"}
            <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
              <div class="row">

              <div class="col-md-1" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  {$value.iduser}
                </h5>
              </div>

              <div class="col-md-3" style="margin: 2; padding: 2">
                <h5 style="font-weight: bold; text-align: left;">                  
                  {$value.desperson}
                </h5>
              </div>
              

              <div class="col-md-2" style="margin: 2; padding: 2">
                    <a href="/professor/turma-temporada/{$temporada.idtemporada}/user/{$value.iduser}" class="btn btn-info btn-xs"><i class=""></i><span style="color: black;">Turmas do professor(a) <br>{$value.apelidoperson}</span></a>
              </div>

              <div class="col-md-2" style="margin: 2; padding: 2">
                 <a href="/professor/turmatemporada/{$value.iduser}/turma/{$temporada.idtemporada}" class="btn btn-primary btn-xs"><i class=""></i><span style="color: black;"> Inserir ou remover <br> turma do professor(a)</span></a>                      
              </div>

            </div>
          </div>
          {/loop}


            
            <!-- /.box-body -->
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-print"></i> Imprimir
            </button>
          </div>           
    </div>
  </div>
    {/if}
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->