
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
   Turmas relacionadas à Temporada {$temporada.desctemporada} - {$temporada.descstatustemporada}   

  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/professor/temporada"> Todas temporadas</a></li>
    <li><a href="/professor/temporada/{$temporada.idtemporada}/turma"> Inserir turma</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    {if="$error != ''"}
            <div class="alert alert-danger" style="margin: 10px 10px 0px 10px">
        {$error}
            </div>
        {/if}
    <div class="col-md-12">
        <div class="box box-primary">  
          <div class="box-header">   

            {if="$local == null"}

            <h3>Turmas atribuidas ao professor {$user.desperson} </h3>

            {else}

            <h3>{$local.apelidolocal}</h3>

            {/if}       
         </div>
          <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">
            <div class="box-body no-padding col-md-10">
              
                  {loop="$turmas"}
                  <div class="box-body" style="border: solid 1px lightblue; margin: 5px;">

                    <div class="row">

                      <div class="col-md-3" >
                        <h5 style="font-weight: bold; text-align: left;">
                         {$value.idturma} - {$value.descturma} / {$value.diasemana}
                          {$value.horainicio} ás {$value.horatermino}
                        </h5>
                      </div>

                      <div class="col-md-2" >
                        <h5 style="font-weight: bold; text-align: left;">
                         {$value.descrfxetaria}  {$value.initidade} a {$value.fimidade} anos
                        </h5>
                      </div>

                      <div class="col-md-3" >
                        <h5 style="font-weight: bold; text-align: left;">
                         Prof. {$value.apelidoperson} 
                        {$value.apelidolocal} - {$value.nomeespaco}
                        </h5>
                      </div>

                      <div class="col-md-2" >
                        <h5 style="font-weight: bold; text-align: left;">
                          {$value.vagas} vagas / 
                         {$value.desstatus}
                          
                        </h5>
                      </div>

                      <div class="col-md-2" >
                        <h5 style="font-weight: bold; text-align: left;">
                          <a href="/professor/insc-turma-temporada/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}">{$value.numinscritos} inscritos</a>
                          
                        </h5>
                      </div>
                      
                    </div>
                      
                  </div>

                  {/loop}
               
              <!--
              <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-print"></i> Imprimir
                </button>
              -->
            </div>
            
            
            <!-- /.box-body -->


              <div class="box-body col-md-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                             <th>Turmas da temporada por centro esportivo</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                            <td>
                                <a href="/professor/turma-temporada/{$temporada.idtemporada}"><i class=""></i>Todas turmas - Temporada {$temporada.desctemporada}</a>
                            </td>
                            {loop="$locais"}
                            <tr>
                            <td>
                                <a href="/professor/turma-temporada/{$temporada.idtemporada}/local/{$value.idlocal}"><i class=""></i> {$value.idlocal} - {$value.apelidolocal}</a>
                            </td>
                            </tr>
                            {/loop}

                        </tbody>
                    </table>
                </div>
              

            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>

          </div>
      </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->