<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editar Temporada 
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Temporadda </h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/professor/temporada/{$temporada.idtemporada}" method="post" enctype="multipart/form-data">

          <div class="box-body">

            <div class="form-group">
              <label for="desctemporada"> Descrição da temporadda</label>
              <input type="text" class="form-control" id="desctemporada" name="desctemporada" placeholder="Descreva temporada" value="{$temporada.desctemporada}">
            </div>
            <div class="form-group">
              <label for="dtinicinscricao"> Data de Início das Inscrições</label>
              <input type="date" class="form-control" id="dtinicinscricao" name="dtinicinscricao" value="{$temporada.dtinicinscricao}">
            </div>

            
            <div class="form-group">
              <label for="dtterminscricao"> Data do Fim das Inscrições</label>
              <input type="date" class="form-control" id="dtterminscricao" name="dtterminscricao" value="{$temporada.dtterminscricao}">
            </div>

            <div class="form-group">
              <label for="dtinicmatricula"> Data de Início das Matrículas</label>
              <input type="date" class="form-control" id="dtinicmatricula" name="dtinicmatricula" value="{$temporada.dtinicmatricula}">
            </div>
            <div class="form-group">
              <label for="dttermmatricula"> Data do Fim das Matrículas</label>
              <input type="date" class="form-control" id="dttermmatricula" name="dttermmatricula" value="{$temporada.dttermmatricula}">
            </div>            
            <div class="form-group">
              <label for="idstatustemporada"> Status Temporada</label>
              <select class="form-control" name="idstatustemporada">
                {loop="$statustemporada"}
                <option {if="$value.idstatustemporada === $temporada.idstatustemporada"}selected="selected"{/if} value="{$value.idstatustemporada}">{$value.idstatustemporada} - {$value.descstatustemporada} </option>
                {/loop}
              </select>
            </div>

            
            
        </div>          
             
            
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->