<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Turmas para a temporada {$temporada.desctemporada} - {$temporada.descstatustemporada}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/professor/temporada">Temporadas</a></li>
    <li><a href="/professor/turma-temporada/{$temporada.idtemporada}">{$temporada.desctemporada}</a></li>
    <li class="active"><a href="/professor/temporada/{$temporada.idtemporada}/turma">Turmas</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                <h3 class="box-title">Todas as turmas</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Turma</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$turmaNotRelated"}
                            <tr>
                            <td>{$value.idturma}</td>
                            <td>{$value.descturma} - {$value.apelidolocal} - {$value.nomeativ} - 
                        {$value.diasemana} - {$value.horainicio} - {$value.horatermino}</td>
                            <td>
                                <a href="/professor/temporada/{$temporada.idtemporada}/turma/{$value.idturma}/add" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-right"></i> Adicionar</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                <h3 class="box-title">Turmas para {$temporada.desctemporada}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Turmas para {$temporada.desctemporada}</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$turmaRelated"}
                            <tr>
                            <td>{$value.idturma}</td>
                            <td>{$value.descturma} - {$value.apelidolocal} - {$value.nomeativ} - 
                             {$value.diasemana} - {$value.horainicio} - {$value.horatermino}</td>                      
                            <td>
                                <a href="/professor/temporada/{$temporada.idtemporada}/turma/{$value.idturma}/remove" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Remover</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->