<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editar Turma 
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Turma </h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/professor/turma/{$turma.idturma}" method="post" enctype="multipart/form-data">

          <div class="box-body">    
            <div class="form-group">
              <label for="descturma">Descrição da turma</label>
              <input type="text" class="form-control" id="descturma" name="descturma" placeholder="Descreva a turma"value="{$turma.descturma}">
            </div>
            <div class="form-group">
              <label for="turma">Modalidade</label>
                <select class="form-control" name="idmodal">     
                  {loop="$modalidade"}
                  <option {if="$value.idmodal === $turma.idmodal"}selected="selected"{/if} value="{$value.idmodal}">{$value.descmodal}</option>
                  {/loop}                            
                </select>
            </div>            
            <div class="form-group">
              <label for="turma">Atividade</label>
                <select class="form-control" name="idativ">     
                  {loop="$atividade"}
                  <option {if="$value.idativ === $turma.idativ"}selected="selected"{/if} value="{$value.idativ}">{$value.nomeativ} - {$value.descrfxetaria} - {$value.initidade} a {$value.fimidade} anos</option>
                  {/loop}                            
                </select>
            </div>            
            <div class="form-group">
              <label for="atividade">Professor</label>
                <select class="form-control" name="iduser">     
                  {loop="$users"}
                  <option {if="$value.iduser === $turma.iduser"}selected="selected"{/if} value="{$value.iduser}">{$value.desperson}</option>
                  {/loop}                            
                </select>
            </div>
            <div class="form-group">
              <label for="turma">Espaço - Crec</label>
                <select class="form-control" name="idespaco">     
                  {loop="$espaco"}
                  <option {if="$value.idespaco === $turma.idespaco"}selected="selected"{/if} value="{$value.idespaco}">{$value.nomeespaco} - {$value.apelidolocal}</option>
                  {/loop}                            
                </select>
            </div>
            <div class="form-group">
              <label for="turma">Dia Semana - Horário</label>
                <select class="form-control" name="idhorario">     
                  {loop="$horario"}
                  <option {if="$value.idhorario === $turma.idhorario"}selected="selected"{/if} value="{$value.idhorario}">{$value.diasemana} - {$value.horainicio} às {$value.horatermino}</option>
                  {/loop}                            
                </select>
            </div>

            <div class="form-group">
              <label for="turma">Status</label>
                <select class="form-control" name="idturmastatus"> 

                  {loop="$turmastatus"}
                  <option {if="$value.idturmastatus === $turma.idturmastatus"}selected="selected"{/if} value="{$value.idturmastatus}">{$value.desstatus}</option>
                  {/loop}                            
                </select>
            </div>

            
           <div class="form-group">
              <label for="turma">Vagas</label>
              <input type="number" class="form-control" id="vagas" name="vagas" placeholder="Informe a quantidade de vagas" value="{$turma.vagas}">
            </div>

            <div class="form-group">
              <label for="turma">Nº inicial de inscritos</label>
              <input type="number" class="form-control" id="numinscritos" name="numinscritos" placeholder="informe a quantidade inicial de inscritos" value="{$turma.numinscritos}">
            </div>
            <div class="form-group">
              <label for="file">Foto</label>
              <input type="file" class="form-control" id="file" name="file" value="{$turma.desphoto}">
              <div class="box box-widget">
                <div class="box-body">
                  <img class="img-responsive" id="image-preview" src="{$turma.desphoto}" alt="Photo">
                </div>
              </div>
            </div>   
            




        </div>       
             
            
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->