
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Turmas
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/professor/turma">Turmas</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="/professor/turma/create" class="btn btn-success">Cadastrar Turma</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Descrição da turma</th>
                    <th>Temporada</th>
                    <th>Modalidade</th>
                    <th>Qtde Vagas</th>
                    <th>Horários</th>
                    <th>Inicio das Inscrições</th>
                    <th>Fim das inscrições</th>
                    <th>Inicio das Matrículas</th>
                    <th>Fim das Matrículas</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$turma"}
                  <tr>
                    <td>{$value.descturma}</td>
                    <td>{$value.temporada}</td>
                    <td>{$value.descmodal}</td>
                    <td>{$value.vagas}</td>
                    <td>{$value.horainicio} ás {$value.horatermino} - {$value.periodo}</td>
                    <td>{$value.dtinicinscricao}</td>
                    <td>{$value.dtterminscricao}</td>    
                    <td>{$value.dtinicmatricula}</td>
                    <td>{$value.dttermmatricula}</td>                                                            
                    <td>
                      <a href="/professor/turma/{$value.idturma}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/professor/turma/{$value.idturma}/delete" onclick="return confirm('Deseja realmente excluir a turma de {$value.descturma} {$value.horainicio} ás {$value.horatermino} - {$value.periodo}?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->