
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
   Turmas relacionadas ao professor {$users.desperson}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/professor"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/professor/prof">Professores</a></li>
    <li class="active"><a href="/professor/turma">Turmas</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            
            <div class="box-header">

              <a href="/professor/users/{$users.iduser}" class="btn btn-success">Editar Professor</a>

               <a href="/professor/users/{$users.iduser}/turma" class="btn btn-primary">Inserir ou remover turma</a>
             
            </div>
           
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Descrição da turma</th>                    
                    <th>Modalidade</th>
                    <th>Faixa Etária</th>    
                    <th>Professor</th>                  
                    <th>Crec</th>
                    <th>Espaço</th>
                    <th>Horário  Dia Semana</th>
                    <th>Status</th>
                    <th >Vagas</th>
                    <th>Nº de inscritos</th>
                    
                  </tr>
                </thead>
                <tbody>                  
                  {loop="$turmaRelated"}
                  <tr>

                    <td>{$value.descturma}</br>{$value.periodo}</td>
                     <td>{$value.descmodal}</td>
                    <td>{$value.descrfxetaria} </br> {$value.initidade} a {$value.fimidade} anos</td>
                    <td>{$value.desperson}</td>
                    <td>{$value.apelidolocal}</td>
                    <td>{$value.nomeespaco}</td>
                    <td> {$value.diasemana} </br> {$value.horainicio} ás {$value.horatermino}  </td>
                    <td>{$value.desstatus}</td>
                    <td>{$value.vagas}</td>
                    <td>{$value.numinscritos}</td>
                    
                   
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <button type="button" onclick="window.print()" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>

          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->