
<script type="text/javascript">

</script>
  <div class="container"> <!-- container 1 -->
            <div class="row"> <!-- row 2 -->
              <div class="col-md-8" style="text-align-last: left; background-color: white; margin: 15px 0px 0px 0px;">

<div class="container" style="margin: 0px px 0px 0px; ">

<hr style="background-color: orange;">
  {loop="$turma"}
  {if="($value.idturma == 15) OR ($value.idturma == 16) OR ($value.idturma == 17) OR ($value.idturma == 18)"}
  <div class="container"> <!-- container 3 -->
    <div class="row"> <!-- row 4 --> 
    
      <div class="col-md-12"style="text-align-last: left; line-height: 20px;  font-size: 14px; font-style: normal; margin: 5px 0px 20px 0px">


          <a href="/cursos/cart/{$value.idturma}/{$value.idtemporada}/add" style="text-decoration: none">     
        <h5 style="color: #000000"> 
            <span style="font-weight: bold;">
              {if="$value.idstatustemporada == 3"} 
              [ <span style="font-weight: bold; font-size: 14px; color: darkorange;">
              {$value.descstatustemporada}  </span>]
              {/if}            
              {$value.descturma}  - {$value.numinscritos}   
            </span><br>
            <span style="color: darkgreen; font-size: 16px">
                [{$value.idturma}] - {$value.descativ}
            </span><br>
             
              {$value.diasemana} das {$value.horainicio} às {$value.horatermino} <br>  

               {if="$value.fimidade == 99"} 
               Para maiores de 16 anos <br>
              {else}
              Para nascidos entre:<strong> {$anoAtual - $value.fimidade} à {$anoAtual - $value.initidade}</strong><br>
              {/if}

              {if="$value.idstatustemporada == 2"} 
               <span style="font-weight: bold;">
              {$value.vagas} vagas<br>
              {/if}

              {if="$value.idstatustemporada == 4"} 
               <span style="color: red;">
                {$value.descstatustemporada}
              </span> <br> 
               <span style="font-weight: bold;">
              {$value.numinscritos} inscritos para {$value.vagas} vagas                          
              {/if}

              {if="$value.idstatustemporada == 6"} 
               <span style="color: red;">
                {$value.descstatustemporada}. <br>
                <span style="color: black;">Novas inscrições a partir de {function="formatDate($value.dttermmatricula)"}.</span>
              {/if}
              

              {if="$value.numinscritos > $value.vagas && $value.idstatustemporada == 4"} <br>
              </span> 
               <span style="color: orange;">
                Para esta turma terá sorteio de vagas<br>
              </span>              
              {/if}

              {if="$value.idstatustemporada == 5"}
                {if="$value.numinscritos < $value.vagas && $value.idstatustemporada == 5"} 

                   {if="$value.nummatriculados < $value.vagas && $value.idstatustemporada == 5"} 

                        <span style="color: darkgreen;">
                        <strong>Há vagas disponíveis</strong><br>
                      </span>


                   {/if}

                {else}
                
                   <span style="color: darkred;">
                    <strong>Não há vagas disponíveis.</strong><br>
                  </span>
                    <span>
                      Faça sua inscrição para a lista de espera<br>
                <!--
                    Faça sua inscrição para a lista de espera<br>
                
                  </span>
                    <h6 style="color: blue; font-weight: bold">              
                     <a href="/cursos/insc-turma-temporada-listaespera/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">Acesse a lista de espera, clicando aqui.  </a>
                    </h6>
                -->
                {/if}
              {/if}                
            
          </h5>

        </a>

        {if="$value.token == 1"} 
          <h5><span style="color: darkblue;" >
            <strong>Necessário token</strong>&nbsp;             
          </span>
          <a href="#" onmousemove="alertToken()"><i class="fa fa-info-circle" style="font-size: 24px;"></i></h5></a>
        {/if} 
          
        {if="$value.idstatustemporada == 6"} 
        
        {else}
          {if="$value.idstatustemporada == 3"} 

            <h6 style="color: blue; font-weight: bold">
              Acesse lista com o resultado final após o sorteio para esta turma,
             <a href="/cursos/insc-turma-temporada-classificadas/{$value.idturma}/{$value.idtemporada}/user/{$value.iduser}" style="color: orangered;">clicando aqui.  </a>
            </h6>

          {else}

          <a class="btn btn-info" style="background-color: #cc5d1e"  href="/cursos/cart/{$value.idturma}/{$value.idtemporada}/add">Inscrever-se</a>  

          {/if}

        {/if}  
           
      </div>
    </div> <!-- row 4 -->
  </div> <!-- container 3 -->
  {/if}
  {/loop}

  {if="$error != ''"}
   
<div class="container" >
  <div class="row">
    <div class="col-md-12 alert alert-info" style="font-size: 20px; text-align-last: center ">
       <span style="font-size: 20px; font-weight: bold;"> 
       {$error}
     </span>
    </div>     
  </div>
</div>
 {/if}

   <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                  {loop="$pages"}
                  <li><a href="{$value.link}">{$value.page}</a></li>
                  {/loop}
                </ul>
              </div>
              </div> <!-- final da index -->

<hr style="background-color: #0f71b3;">