<div class="list-group" id="menu" style="font-weight: bold;">   
    <a href="/cursos/profile/insc" class="list-group-item list-group-item-action">Minhas Incrições</a>
    <a href="/cursos/minhaagenda" class="list-group-item list-group-item-action">Agenda de Natação</a>
    <a href="/cursos/user/pessoas" class="list-group-item list-group-item-action">Meus Dependentes</a>
    <a href="/cursos/user/profile" class="list-group-item list-group-item-action">Alterar Email / Telefone</a>
    <a href="/cursos/user-change-password" class="list-group-item list-group-item-action">Alterar Senha</a>
    <a href="/cursos/logout" class="list-group-item list-group-item-action">Sair</a>
</div>